<ion-header mode="ios">
  <ion-navbar color="saapp" mode="ios" style="padding-top: 4px;min-height: 56px">
    <ion-buttons style="margin-left:-25px;float:left">
      <button ion-button icon-only>
        <ion-icon color="dark" name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      库存清单
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background-color:#F5F5F5;">
<!--
  <button class="buttonimg"><img src="assets/images/Inventory/dakai.png" style="height: 80px;width: auto"/></button>
-->
  <ion-list>
    <ion-grid *ngIf="StaticState">
      <ion-row class="butcolo">
        <ion-col text-center class="borderleft borderup borderdown" col-2><ion-label>票面金额</ion-label></ion-col>
        <ion-col text-center class="borderleft borderup borderdown" col-2><ion-label>承兑行/承兑企业</ion-label></ion-col>
        <ion-col text-center class="borderleft borderup borderdown" col-2><ion-label>出票日</ion-label></ion-col>
        <ion-col text-center class="borderleft borderup borderdown" col-2><ion-label>到期日</ion-label></ion-col>
        <ion-col text-center class="borderleft borderup borderdown" col-2><ion-label>备注</ion-label></ion-col>
        <ion-col text-center class="borderleft borderup borderdown borderright" col-2><ion-label>带价</ion-label></ion-col>
      </ion-row>
      <ion-row *ngFor="let item of List; let i = index;">
        <ion-col text-center class="borderleft  borderdown" col-2><ion-label>{{item.allmoney}}</ion-label></ion-col>
        <ion-col text-center class="borderleft  borderdown" col-2><ion-label>{{item.bank}}</ion-label></ion-col>
        <ion-col text-center class="borderleft  borderdown" col-2><ion-label>{{item.printtime}}</ion-label></ion-col>
        <ion-col text-center class="borderleft  borderdown" col-2><ion-label>{{item.endtime}}</ion-label></ion-col>
        <ion-col text-center class="borderleft  borderdown" col-2><ion-label>{{item.remarks}}</ion-label></ion-col>
        <ion-col text-center class="borderleft  borderdown borderright" col-2><ion-label>{{item.price}}</ion-label></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="Dynamic" style="width: 800px !important;">
      <ion-row class="butcolo">
        <ion-col text-center class="borderleft borderup borderdown" col-2><ion-label>操作</ion-label></ion-col>
        <ion-col text-center class="borderleft borderup borderdown" col-1><ion-label>票面金额</ion-label></ion-col>
        <ion-col text-center class="borderleft borderup borderdown" col-2><ion-label>承兑行/承兑企业</ion-label></ion-col>
        <ion-col text-center class="borderleft borderup borderdown" col-2><ion-label>出票日</ion-label></ion-col>
        <ion-col text-center class="borderleft borderup borderdown" col-2><ion-label>到期日</ion-label></ion-col>
        <ion-col text-center class="borderleft borderup borderdown" col-2><ion-label>备注</ion-label></ion-col>
        <ion-col text-center class="borderleft borderup borderdown borderright" col-1><ion-label>带价</ion-label></ion-col>
      </ion-row>
      <ion-row *ngFor="let item of List; let i = index;">
        <ion-col *ngIf="!item.EditTxt" text-center class="borderleft  borderdown" (click)="item.EditTxt = !item.EditTxt;" col-2><ion-label style="color: #7790fe !important;">修改</ion-label></ion-col>
        <ion-col *ngIf="item.EditTxt" text-center class="borderleft  borderdown" (click)="item.EditTxt = !item.EditTxt;inventory.i=i;setinventory(item);" col-2><ion-label style="color: #d43c33 !important;">保存</ion-label></ion-col>
        <ion-col text-center class="borderleft  borderdown" col-1><ion-input type="text" maxlength="13" (keyup)="apiSev.check2B($event);" [disabled]="!item.EditTxt" [(ngModel)]="item.allmoney"></ion-input></ion-col>
        <ion-col text-center class="borderleft  borderdown" col-2><ion-input type="text" maxlength="40" [disabled]="!item.EditTxt" [(ngModel)]="item.bank"></ion-input></ion-col>
        <ion-col text-center class="borderleft  borderdown" col-2><ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [max]="discount.max" doneText="确定" cancelText="取消" [disabled]="!item.EditTxt" [(ngModel)]="item.printtime"></ion-datetime></ion-col>
        <ion-col text-center class="borderleft  borderdown" col-2><ion-datetime displayFormat="YYYY-MM-DD" [min]="item.printtime" [max]="discount.max" doneText="确定" cancelText="取消" [disabled]="!item.EditTxt" [(ngModel)]="item.endtime"></ion-datetime></ion-col>
        <ion-col text-center class="borderleft  borderdown" col-2><ion-input [disabled]="!item.EditTxt" [(ngModel)]="item.remarks"></ion-input></ion-col>
        <ion-col text-center class="borderleft  borderdown borderright" col-1><ion-input type="text" maxlength="11" (keyup)="apiSev.check2B($event);" [disabled]="!item.EditTxt" [(ngModel)]="item.price"></ion-input></ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
</ion-content>

<ion-footer>
  <div>
    <button ion-button *ngIf="large"  mode="ios" block color="primary" data-tap-disabled="true" (click)="Dynamic=true;StaticState=false;large=false;Small=true" >放大</button>
    <button ion-button *ngIf="Small" mode="ios" block color="primary" data-tap-disabled="true" (click)="Dynamic=false;StaticState=true;large=true;Small=false" >缩小</button>
  </div>
</ion-footer>
