page-meB {
	ion-content{
		background: #F5F5F5 !important;

		ion-list{
			button{
				ion-avatar{
					min-width:30px !important;min-height:30px !important;
					img {width:30px !important;height:30px !important;}
				}
			}
		}
		.me-header{
			position:relative;
			width: 100%;
			height: 238px;
		background: url(../assets/images/me/qiye.png) no-repeat bottom;
    		background-size: 100% 238px;
			.logo{
				img{
					margin-top: 20px;
					margin-left: 20px;
				}
			}
			button{
				.button-inner{width:36px;height:36px}
			}
			.myLabel{
				float: right;
				height: 30px;
				background: #548f1d;
				border-radius: 100px 0 0 100px;
				width: 180px;
			    margin-top: -40px;
			    color: #fff;
		        line-height: 30px;
    			padding-left: 15px;
			}

			.myLabel *{
				vertical-align: middle;
			}
		}

		.myinfo{
			width: 100%;
			padding: 20px 10px 10px 10px;
			background: #fff;
			margin-bottom: 20px;
			.myinfoItem{
				margin-bottom: 5px;
			}

			.changePass{
				background-image:linear-gradient(-180deg, #9ad257 0%, #6fb22c 100%);
				border:1px solid rgba(255,255,255,0.32);
				border-radius:5px;
				width:80px;
				height:32px;
				font-size: 13px;
				float: right;
			    margin-top: -120px;
			}
		}

		.inputContainer{
			background: #fff;
			margin-top: 0px;
			margin-bottom: 80px;
			padding-top: 20px;
			padding-bottom: 20px;
			.newUserInput{
				background:#efeff4;
				border:1px solid rgba(101,172,255,0.23);
				border-radius:8px;
				width:320px;
				height:43px;
				margin-left: calc(50% - 160px);
				margin-bottom: 20px;
				padding-left: 15px;
			}

			.newUserBtn{
				margin-left: calc(50% - 160px);
				background-image:linear-gradient(-180deg, #9ad257 0%, #6fb22c 100%);
				border:1px solid rgba(255,255,255,0.32);
				border-radius:8px;
				width:320px;
				height:52px;
				z-index: 100;
				margin-top: 20px;
			}
		}


	}

  .maskCon{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    color: #2d2d2d;
    background: rgba(255,255,255,1) !important;
    opacity: 1.0 !important;
    ion-row:first-child{
      padding: 16px 0 5px;
      border-bottom: 1px solid #d9d9d9;
      img{
        width: 70px;
        height: 70px;
      }
      p{
        color: #a3a3a3;
        font-size: 1.4rem;
        margin: 5px 0;
      }
    }
    ion-row:last-child{
      button{
        background: white;
        color: #2d2d2d;
        font-size: 1.7rem;
      }
    }
  }
}
