*{
    margin: 0;padding: 0;
}
.l-btn{
    display: inline-block;
    outline: none;
    resize: none;
    border: none;
    padding:5px 10px;
    background: #e84c3d;
    color: #fff;
    border:solid 1px #e84c3d;
    border-radius: 3px;
    font-size: 14px;
}
.l-btn:hover{
    background: #e84c3d;
    animation: anniu 1s infinite;
}
.l-btn:active{
    box-shadow: 0 2px 3px rgba(0,0,0,.2) inset;
}
.hidden{
    display: none;
}
.tailoring-container, .tailoring-container div, .tailoring-container p{
    margin: 0;padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.tailoring-container{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}
.tailoring-container .black-cloth{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #111;
    opacity: .9;
    z-index: 1001;
}
.tailoring-container .tailoring-content{
    position: absolute;
    /*width: 968px;*/
    /*height: 660px;*/
    width: 650px;
    height: 580px;
    background: #fff;
    z-index: 1002;
    left: 0;
    top: 0;

    /* æ°´å¹³åž‚ç›´å±…ä¸­ æµè§ˆå™¨ç‰ˆæœ¬å·ä½Žçš„ä¸æ”¯æŒtransform */
    /*left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -weblit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);*/

    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    padding: 10px;
}

.tailoring-content-one{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #DDD ;
}
.tailoring-content-one .tailoring-text{
    float: left;
    line-height: 30px;
    margin-left: 20px;
}
.tailoring-content-one .tailoring-text span{
    float: left;
}
.tailoring-content-one .tailoring-text img{
    float: left;
    margin: 5px 3px 0px;
    cursor: pointer;
}
.tailoring-content-one .tailoring-text a{
    color: #778ffd;
    float: left;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.tailoring-content .choose-btn{
    float: left;
}
.tailoring-content .close-tailoring{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: #ddd;
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    float: right;
    cursor: pointer;
}
.tailoring-content .close-tailoring:hover{
    background: #ccc;
}

.tailoring-content .tailoring-content-two{
    width: 100%;
    /*height: 560px;*/
    height: 490px;
    box-sizing: border-box;
    position: relative;
    padding: 5px 0;
}
.tailoring-content .tailoring-box-parcel{
    /*width: 920px;*/
    width: 630px;
    /*height: 550px;*/
    height: 480px;
    position: absolute;
    left: 0;
    border: solid 1px #ddd;
    background-size: 100% !important;
}
.tailoring-content .preview-box-parcel{
    display: inline-block;
    width: 228px;
    /*height: 550px;*/
    height: 480px;
    position: absolute;
    right: 0;
    padding: 4px 14px;
}
.preview-box-parcel p{
    color: #555;
}
.previewImg{
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: none;
}
.preview-box-parcel .square{
    margin-top: 10px;
    border: solid 1px #ddd;
}
.preview-box-parcel .circular{
    border-radius: 100%;
    margin-top: 10px;
    border: solid 1px #ddd;
}

.tailoring-content .tailoring-content-three{
    width: 100%;
    height: 40px;
    border-top: 1px solid #DDD;
    padding-top: 5px;
    box-sizing: border-box;
}
.sureCut{
    float: right;
    margin-left: 5px;
}

@media all and (max-width: 968px) {
    .tailoring-container .tailoring-content{
        width: 100%;
        min-width: 320px;
        /*height: 560px;*/
        height: 500px;
    }
    .tailoring-content .tailoring-content-two{
        /*height: 460px;*/
        height: 460px;
    }
    .tailoring-content .tailoring-box-parcel{
        /*height: 450px;*/
        height: 450px;
    }
    .tailoring-container .tailoring-box-parcel{
        width: 100%;
    }
    .tailoring-container .preview-box-parcel{
        display: none;
    }

}
