[#import "/common/main.html" as main]
[#include "/common/setting.html"]
[@main.body title='云票据-首页']
<link rel="stylesheet" href="${basePath}/css/yonyou//yunIndex.css">

<!-- 头部 -->
[@main.header currentmenu='1'/]

<!-- banner -->
<div class="banner">
    <img src="${basePath}/images/yonyou/yunIndex/banner.jpg" width="1920" height="500" alt="">
</div>

<!-- 票据流程 -->
<div class="process">
    <div class="title">票据流程</div>
    <img src="${basePath}/images/yonyou/yunIndex/process.jpg" height="186" alt="">
</div>

<!-- 优势 -->
<div class="advantage">
    <div class="title">我们的优势</div>
    <div class="advantageCon">
        <div class="advantageBox">
            <img src="${basePath}/images/yonyou/yunIndex/advantage01.png">
            <div class="box-content">
                <h5 class="title1">专业</h5>
                <p>严格的用户核准机制</p>
                <p>给平台提前设好门槛</p>
                <p>实时监控，跟踪交易进度</p>
                <p>专业保障，见证票据流转</p>
                <p>精准定向推荐票据</p>
                <p>双向选择公开透明</p>
            </div>
        </div>
        <div class="advantageBox">
            <img src="${basePath}/images/yonyou/yunIndex/advantage02.png">
            <div class="box-content">
                <h5 class="title1">安全</h5>
                <p>模式安全，兴业银行核验票据归属，兴业执剑人全流程见证，保障交易安全</p>
                <p>账户校验和资金划付服务，由兴业银行集团提供，保障账户安全。</p>
                <p>使用token加密技术，交易信息自动加密</p>
                <p>堡垒功能双重防护，保障数据安全</p>
            </div>
        </div>
        <div class="advantageBox">
            <img src="${basePath}/images/yonyou/yunIndex/advantage03.png">
            <div class="box-content">
                <h5 class="title1">便捷</h5>
                <div class="">
                    <p>无缝对接，流转模式去中间化</p>
                    <p>接入OCR图片识别技术，一键下单，出票更高效</p>
                    <p>短信实时通知，交易流程即时跟进</p>
                </div>
            </div>
        </div>
    </div>

</div>
[/@main.body]