<ion-header mode="ios">
  <ion-navbar mode="ios"  hideBackButton="true"  style="border-bottom:0.65px solid #ccc">
    <ion-buttons >
      <button ion-button icon-only (tap)="back($event)">
        <ion-icon color="light" name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title  mode="ios" >积分商城</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card text-center class="mall-top">
    <h3>我的积分</h3>
    <h2>{{mall.integeral}}</h2>
    <button ion-button outline class="qiandao" (click)="sign()" [disabled]="mall.sign=='已签到'">{{mall.sign}}</button>
    <ion-row class="gonglue">
      <ion-col col-6>
        <button mode="ios" ion-button small (tap)="mallIntegral($event)">
          <ion-icon class="jifen"></ion-icon>
          <div>积分攻略</div>
        </button>
      </ion-col>
      <ion-col col-6>
        <button mode="ios"  ion-button small (tap)="mallDetailed($event)">
          <ion-icon class="shouzhi"></ion-icon>
          <div>收支明细</div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="tuchu">
      <ion-col col-6>
        <button mode="ios"  ion-button small (tap)="mallexchange($event)">
          <ion-icon class="duihuan"></ion-icon>
          <div>兑换记录</div>
        </button>
      </ion-col>
      <ion-col col-6>
        <button mode="ios"  ion-button small (tap)="mallPlace($event)">
          <ion-icon class="dizhi"></ion-icon>
          <div>收货地址</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="mall-list">
    <button ion-item>
      <ion-icon class="hot" item-start></ion-icon>
      热门兑换
      <ion-note item-end (tap)="mallAll($event)">全部商品</ion-note>
    </button>
    <ion-row text-center >
      <ion-col col-6 *ngFor="let mall of malls" (click)="details(mall.id)">
        <img src="{{this.apiSev.getImgUrl+mall.banner1}}">
        <p text-left>{{mall.goodsName}}</p>
        <button ion-button clear small>
          <ion-icon class="jifenIcon"></ion-icon>
          <div>{{mall.integral}}</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<!--上传图片弹出层-->
<div *ngIf="isMask" (click)="backdropclick($event)" ontouchmove="event.preventDefault();event.stopPropagation();">
  <ion-backdrop disable-activated role="presentation" tappable class="mask">
    <div class="maskCon">
      <button class="close" (tap)="isMask=false"></button>
      <img src="assets/images/mall/sign.png" alt="">
    </div>
  </ion-backdrop>
</div>
