<ion-header mode="ios">
  <ion-navbar mode="ios">
    <ion-buttons style="margin-left:-26px;float:left">
      <button ion-button icon-only >
        <ion-icon color="dark" name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title  mode="ios">积分收支明细</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let integral of integrals">
      <h3 text-wrap>{{integral.title}}</h3>
      <p>{{integral.tradingTime}}</p>
      <ion-note [ngClass]="{'red':integral.state == 0}" item-end>{{integral.add}}{{integral.num}}</ion-note>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <p class="underscore" *ngIf="!isOk"></p>
</ion-content>
