page-hsmanage {
  ion-content {
    .colorChange{
      background: url(../assets/images/manage/backgroupB.png) center no-repeat !important;
      background-size: 100% !important;
      height: 80px !important;
      padding-top: 13px !important;
      padding-bottom: 20px !important;
      padding-right: 10px !important;
    }

    //快
    .manage1card {
      background: url(../assets/images/manage/backgroup.png) center no-repeat;
      background-size: 100%;
      height: 80px;
      padding-top: 13px;
      padding-bottom: 20px;
      padding-right: 10px;
    }
    //图片高
    .manage1img1 {
      height: 40px;
      margin-left: 20%;
    }
    //长度隐藏
    .yingc {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    //提醒文字
    .mabage1text {
      color: #bfbfbf;
      font-size: 1.3rem;
      margin-top: 5px;
    }
    //金额红色展示
    .manage1mony {
      color: #d43c33;
      font-size: 1.6rem;
    }
    //图标加减
    .manage2img {
      height: 18px;
      position: absolute;
      right: 9px;
      margin-top: -7px;
    }
  }

  ion-footer {
    .manage2xuanzhong {
      border: 1px solid #ffc801;
      height: 30px;
      line-height: 31px;
      background-color: #fff4cc;
      color: #ebaa01;
      width: 100%;
      padding: 0;
      margin: 0;
      margin-bottom: 1px;
    }
    ion-list {
      margin-bottom: 0 !important;
      border: none !important;
      ion-item {
        border: none !important;
        ion-label {
          font-size: 1.7rem;
          span {
            padding-left: 2px;
            color: #d43c33;
          }
        }
        .item-inner {
          padding-right: 0 !important;
          button {
            height: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
            font-size: 1.8rem;
          }
        }
      }
    }
  }


  //分享弹出层
  .maskCon {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    color: #2d2d2d;
    background: #f5f5f5 !important;
    opacity: 1.0 !important;
    margin-bottom: 38px;
    height: 280px;
    ion-list {
      //到期提醒背景
      .manage1butbj {
        height: 35px;
        background-color: #ffffff;
        margin-top: 10px;
        box-shadow: -1px 3px 5px #e0e0e0, 2px 2px 5px #f5f5f5;
        margin-bottom: 5px;
      }
      //到期提醒
      .manage1dqtx {
        float: left;
        font-size: 1.6rem;
        height: 20px;
        /* line-height: 43px; */
        margin-left: 10px;
        padding-left: 5px;
        border-left: 2px solid #d43c33;
        margin-top: 11px;
      }
      //查看更多
      .manage1ckgd {
        height: 20px;
        background-color: #ffffff;
        color: #c3bfbf;
        font-size: 1.5rem;
        float: right;
        margin-top: 14px;
        padding-right: 10px;
      }
      //快
      .manage1card {
        background: url(../assets/images/manage/backgroup.png) center no-repeat;
        background-size: 100%;
        height: 80px;
        padding-top: 13px;
        padding-bottom: 20px;
        padding-right: 10px;
      }
      //图片高
      .manage1img1 {
        height: 40px;
        margin-left: 20%;
      }
      //长度隐藏
      .yingc {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      //提醒文字
      .mabage1text {
        color: #bfbfbf;
        font-size: 1.3rem;
        margin-top: 5px;
      }
      //金额红色展示
      .manage1mony {
        color: #d43c33;
        font-size: 1.6rem;
      }
      //图标加减
      .manage2img {
        height: 18px;
        position: absolute;
        right: 8px;
        margin-top: -8px;
      }
    }
    .buttonclick{
      position: absolute;
      right: 1px;
      font-size: 1.6rem;
      height: 31px;
      margin: 0;
      padding: 0;
      padding-right: 10px;
      background-color: #f5f5f500;
      color: #333;
    }
    ion-row:first-child {
      height: 80px;
      border-bottom: 1px solid #cacaca;
      img {
        width: 70px;
        height: 70px;
      }
      p {
        color: #a3a3a3;
        font-size: 1.4rem;
        margin: 5px 0;
      }
    }
    ion-row:last-child {
      button {
        background: #F7F8FB;
        color: #2d2d2d;
        font-size: 1.7rem;
        margin: 0;
        height: 80px;
      }
      //取消按钮文字
      .closespan {
        font-size: 16px;
        margin-top: -30px;
        color: #666666;
        font-weight: 600;
      }
    }
  }
}











