<ion-header mode="ios">
  <ion-navbar color="saapp" mode="ios" style="padding-top: 4px;min-height: 56px">
    <ion-buttons style="margin-left:-25px;float:left">
      <button ion-button icon-only>
        <ion-icon color="dark" name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      质押提醒
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background-color:#F5F5F5;">
  <ion-list>
    <div text-center style="margin-top: 30%" *ngIf="drzLists.length<1">
      <img src="assets/images/manage/nullData.png" style="width: 40%;">
    </div>
    <div class="manage1card" *ngFor="let item of drzLists; let i = index;" [attr.data-index]="i">
      <ion-row>
        <ion-col text-center col-4>
          <div class="yingc"><span class="manage1mony">{{apiSev.dhpl(item.allmoney)}} </span>元</div>
          <div class="mabage1text">票面金额</div>
        </ion-col>
        <ion-col text-center col-4>
          <div class="yingc"><span class="manage1mony">{{apiSev.dhpl(item.pledgeMoney)}} </span>元</div>
          <div class="mabage1text">质押金额</div>
        </ion-col>
        <ion-col text-center col-4>
          <div class="yingc" style="margin-top: 2px;min-height: 19px">{{item.pledgeInDate | date:"yyyy-MM-dd"}}</div>
          <div class="mabage1text">赎回时间</div>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite1($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
