<ion-header>
  <ion-navbar color="saapp" mode="md" style="padding-top: 4px;min-height: 56px">
    <ion-buttons style="float:left">
      <button ion-button icon-only (click)="close()">
        <ion-icon  color="dark"  name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="inputContainer textge" *ngIf="disclaimers">
    <p text-center>“票管家”平台免责声明</p>
    <div>尊敬的“票管家”平台用户：
      非常感谢您注册成为上海票管家金融服务有限公司（“票管家公司”，网址https://www.utiexian.com）“票管家”平台（“票管家”）用户，也非常感谢您通过“票管家”平台进行票据出票（流转）交易，我们将竭诚为您提供信息和撮合交易服务，同时我们也真诚的提醒您，在您通过“票管家”提供的服务进行交易前，请仔细阅读本声明。您选择并通过“票管家”平台进行票据贴现（流转）交易即视为您已充分阅读并接受本声明的所有条款，您同意本声明对您和票管家公司具有法律约束力。
    </div>
    <div>一、风险提示</div>
    <div>
      商业票据在转让交易的过程中存在特殊的交易风险，票据转让方与受让方在交易之前应充分考量由此产生的交易风险，自主做出交易决策并自行承担交易风险。在票据交易实践中对交易安全产生风险的因素很多，“票管家”仅为提供交易信息的交易撮合平台，平台上的交易信息均由用户自行提供，“票管家”无法确保平台上交易信息的真实性、合法性、准确性、完整性。为保证您的交易安全，请您在交易之前审慎核查交易对方所提供的包括但不限于票据信息、银行信息、交易报价等在内的一切交易信息，以免遭受损失。
    </div>
    <div>二、免责声明</div>
    <div>本公司郑重做出如下免责声明，请您详细阅读：</div>
    <div>
      （一）作为“票管家”的用户，您有义务详细了解《票管家用户注册协议》等平台交易规则（以下合称“《用户协议》”）对用户权利义务所做的约定。当您通过“票管家”进行票据转让交易，即视为您已经详细阅读了《用户协议》、充分了解《用户协议》项下的各项约定并自愿接受《用户协议》的全部条款。
    </div>
    <div>（二）“票管家”仅提供一个展示交易信息的平台，用户自行上传交易信息，“票管家”不对平台上任何交易信息内容的真实性、准确性、合法性、完整性负责，票管家公司也不承担由此而产生的一切责任。</div>
    <div>
      （三）“票管家”不对任何用户、票管家合作机构及/或任何票据交易提供明示或暗示的担保或承诺，票管家公司不能也不试图对用户发布的信息进行控制，对该等信息，票管家公司不承担任何形式的证明、鉴定服务。票管家公司不能完全保证票管家公司平台内容的真实性、充分性、可靠性、准确性、完整性和有效性，并且无需承担任何由此引起的法律责任。用户进行交易完全是基于其自主做出的决策，由于票据交易而产生的一切责任由票据交易各方自行承担，与“票管家”无关，票管家公司也不承担任何法律和经济责任。
    </div>
    <div>（四）票管家公司对任何用户因使用“票管家”而遭受的一切意外及损失均不承担责任，前述损失包括但不限于因使用“票管家”而导致用户的银行账号信息被盗取、电子设备感染病毒或被非法入侵等。</div>
    <div>
      （五）票管家公司不保证为向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由票管家公司实际控制的任何网页上的内容，票管家公司不承担任何责任。
    </div>
    <div>（六）对于因不可抗力或票管家公司不能控制的原因造成的网络服务中断或其它缺陷，票管家公司承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</div>
    <div>
      （七）用户通过票管家金公司平台线上服务系统办理票据应收款转让业务的，票管家公司仅为票据应收款转让业务双方提供信息服务和撮合交易的服务，不就用户办理该等业务遭受的任何损失承担责任，由此所产生的一切责任与后果与票管家公司无涉。
    </div>
    <div>
      （八）“票管家”作为电子信息平台，用户在平台上为进行交易所签订的各项合同文件均是通过电子签名形式签署。鉴于电子签名技术对互联网及相关配套设施的特定需求，票管家公司对因互联网故障、软件故障及系统原因等其他不可预测的因素给用户造成的损失不承担责任，上述损失包括但不限于因互联网故障导致用户签署合同失败或迟延、因用户的互联网设备不能满足电子签名操作所需求的设备规格而导致交易操作失误等。
    </div>

    <div>特此声明。</div>
    <div>上海票管家金融服务有限公司</div>
    <div>2018年1月10日</div>
  </div>

  <div class="inputContainer textge" *ngIf="commitment">
    <p text-center>票据应收款转让服务合同</p>
    <div>甲方（出票方）：</div>
    <div>法定代表人或负责人：</div>
    <div>住所地：</div>
    <div>乙方（收票方）：</div>
    <div>法定代表人或负责人：</div>
    <div>住所地：</div>
    <p>鉴于：</p>
    <div>
      1、甲乙双方均为上海票管家金融服务有限公司（“票管家”）平台用户（“平台用户”），票管家是一家依托互联网金融创新技术，为广大票据供需双方提供专业、安全、便捷的信息服务和撮合交易的企业。甲乙双方均签署并同意票管家用户协议在内的全部平台交易规则。
    </div>
    <div>2、兴业数字金融服务（上海）股份有限公司（“兴业数金”）为兴业银行集团面向中小银行、非银行金融机构、中小企业提供金融信息云服务的最主要平台，为兴业银行集团开展互联网金融科技创新的最主要平台。</div>
    <div>
      3、为方便平台用户通过票管家平台线上服务系统办理票据应收款转让业务，票管家与兴业数金建立了合作关系。兴业数金将自主研发的“执剑人系统”与票管家平台交易系统端口对接，为在票管家平台依法合规开展票据流转业务的平台用户提供票据流转见证（包括票据基本信息、票据交易信息流转记录、交易明细）、票据流转资金代管、传递汇划指令等服务（“服务”）。
    </div>
    <div>4、甲乙双方作为平台用户，同意兴业数金通过票管家平台向甲乙双方提供服务，并由兴业数金在兴业银行开立票据流转资金代管专户。甲乙双方自行对其提供给票管家平台/兴业数金的有关信息的真实性、充分性、可靠性、准确性、完整性和有效性负责。</div>
    <div>为明确协议双方权利义务，甲乙双方根据《中华人民共和国合同法》《中华人民共和国票据法》及相关法律法规规定，秉承平等自愿、协作共赢的原则，经友好协商，达成如下协议内容：
    </div>
    <p>第一条 释义</p>
    <div>除非本合同上下文另有解释或文义另有所指，下列词语或简称具有如下含义：</div>
    <div>一、甲方（出票方）：拟于票管家平台转让票据应收款的一方，甲方应为平台用户。</div>
    <div>二、乙方（收票方）：拟于票管家平台受让票据应收款的一方，乙方应为平台用户。</div>
    <div>三、票管家平台：票管家开发的，为票据交易双方提供交易撮合服务的互联网网站及交易系统。</div>
    <div>四：代管专户：兴业数金为方便甲乙双方资金流转和安全而以其自身名义在兴业银行开立的票据流转资金代管专户。</div>
    <div>
      五：票据应收款：票据承兑人承担的在票据到期日无条件支付的票据全部款项，包括但不限于票据付款人的付款、被追索人支付的金额和费用、出票人或承兑人返还的其余未支付票据金额相当的款项或利益、根据司法机关裁决或有权机关规定获得的任何形式的货币或者实物等。
    </div>
    <div>六、票据应收款转让：甲乙双方通过票管家平台达成协议通过票据背书转让方式将票据应收款无条件不可撤销地转让给受让方的行为。</div>
    <div>七、实扣金额：乙方实际应支付的款项，即票管家平台于乙方支付款项时从乙方账户里扣划至代管专户的款项，实扣金额=成交金额+转让服务费。</div>
    <div>八、成交金额：甲乙双方达成的成交金额，即转让成功时自代管专户实际划入甲方收款账户的金额，成交金额=实扣金额-转让服务费。</div>
    <div>九、转让服务费：兴业数金及兴业数金合作机构基于为甲乙双方提供票据应收款转让相关服务而向乙方单方收取的服务费。转让服务费包括服务费用、银行划转交易手续费（提现费用）、电子合同服务费及其他增值或综合费用（如有）。</div>
    <div>十、执剑人票据见证代管系统：由兴业数金研发，融合融资、见证、代管、支付四大功能为一体，为银行及金融机构、票据撮合平台及经纪、B2B电商平台、小微企业提供互联网票据业务综合服务的票据交易款安全代管系统。 </div>
    <p>第二条 票据应收款的转让</p>
    <div>甲方作为出票方，同意根据本合同约定的条款及条件通过票据背书转让方式向乙方转让相应的票据应收款，乙方作为收票方，同意根据本合同约定的条款及条件受让甲方合法持有的票据应收款并向甲方支付本合同约定的金额。</div>
    <p>第三条 乙方转让款支付前提</p>
    <div>如下条件全部获得满足的前提下，乙方有义务向甲方支付受让票据应收款的转让价款：</div>
    <div>1、本合同已经签署并生效；</div>
    <div>2、甲方转让的票据不存在任何争议、纠纷；</div>
    <div>3、甲方已经将票据背书给乙方。</div>
    <p>第四条 服务</p>
    <div> 一、兴业数金及兴业数金合作机构根据票据应收款转让订单为甲乙双方提供服务。甲乙双方无条件不可撤销地同意，当甲乙双方对票据应收款项下的票据信息确认一致时，即视为甲乙双方针对票据应收款转让的相关信息达成一致：
      <div>1、甲方将拟转让的票据应收款项下的票据信息于票管家平台发布后，乙方对其进行报价，甲方同意成交金额并确认交易后，订单生效，进入实际交易阶段。</div>
      <div>2、乙方在有效时间内（乙方报价之时起30分钟内）成功提交有效代管资金支付指令和出金指令将实扣资金转入代管专户后，兴业数金将向甲方及票管家平台发出有效指令</div>
      <div>3、票管家平台收到丙方指令后，将对该笔转让订单显示“买方已付款，等待卖方确认背书”状态。</div>
      <div>
        票据应收款在票管家平台上显示“买方已付款，等待卖方确认背书”状态后，甲方应当根据兴业数金执剑人票据见证代管系统及票管家平台的提示在有效时间（30分钟）内办理票据的背书手续；若甲方将票据成功背书给乙方，且甲方在有效时间内点击确认完成背书操作，则票管家平台对该笔转让订单显示“卖方已确认背书，等待买方确认签收”。
      </div>
      <div>5、买方应在有效时间（30分钟）内点击确认完成签收操作。若乙方未在有效时间内接收票据背书，则视为乙方拒绝接收票据背书。若在乙方签收票据背书之前，甲方撤销票据背书导致乙方无法签收票据，则视为撤销背书。</div>
      <div>
        6、兴业数金执剑人票据见证代管系统将对票据的背书状态进行见证核实，若甲方成功将票据背书给乙方，则构成转让成功。转让成功后，则甲方可通过兴业数金执剑人票据见证代管系统发出指令将代管专户内数额等于成交金额的资金划入甲方指定入金关联账户。
      </div>
      <div>
        7、前述情形下，如乙方未于有效时间内成功提交有效付款指令将资金转入代管专户，或乙方银行账户内资金不足实扣金额的，或乙方主动取消交易，或拒绝接收票据背书，则票据应收款转让失败，由此产生合同无法履行的责任由乙方自行承担。若乙方将资金转入代管专户，甲方未在有效时间内将票据背书，或甲方在票据背书后撤销背书、或甲方主动取消交易，则票据应收款转让失败，由此产生合同无法履行的责任由甲方自行承担。
      </div>
      <div>
        8、转让失败的，票管家平台向甲乙双方发出转让失败通知，同时兴业数金代管专户内数额等于乙方实扣金额的资金退回乙方执剑人票据见证代管系统的电子帐户内，若因乙方原因导致转让失败的，由此产生的转让服务费及其他损失等由乙方承担。兴业数金有权在扣收相应费用后，将剩余资金退还乙方；甲乙双方将无法对该笔票据应收款转让项下的订单进行任何操作。
      </div>
    </div>
    <div>二、票管家平台正常发起转让的时间段为银行工作日的9：00-16：30，在16：30后需要进行票据应收款转让见证审核的订单，将在次日进行。</div>
    <div>
      三、为避免疑问，甲乙双方同意向兴业数金申请指定唯一的同名银行结算账户作为其出入金关联账户，甲乙双方在执剑人系统向代管专户开户银行提出的出入金指令必须是转入此关联账户或转出至此关联账户；甲乙任何一方如需增加或者变更出入金关联账户的，应向兴业数金提出书面申请并抄送票管家，兴业数金依据国家法律法规和政策规定审核确认后才能根据申请办理增加或变更手续。
    </div>

    <p>第五条 款项支付</p>
    <div>
      一、本合同第三条之“票据应收款的转让款支付的前提条件”全部满足之后，乙方无条件不可撤销的同意兴业数金将乙方已转入代管专户中代管数额等于成交金额的资金通过代管专户转入甲方指定入金关联账户，并由票管家代为提取该笔业务的转让服务费，后续票管家将依据与兴业数金签署的合作协议将相应转让服务费划付至相关账户。
      如因系统关闭或故障等特殊原因导致兴业数金无法在当日完成划款的，则兴业数金可于下一个工作日完成划款。
    </div>
    <div>二、双方均确认及同意，甲方成交金额=乙方实扣金额-转让服务费</div>

    <p>第六条 转让服务费</p>
    <div>
      一、甲乙双方无条件不可撤销地同意，委托兴业数金通过其自主研发的执剑人票据见证代管系统平台为甲乙双方提供服务；甲乙双方知悉并同意，票管家及/或兴业数金可自行也可与兴业数金的合作机构联合提供金融科技及信息等方面的综合服务，同意转让服务费由票管家代为收取，后续票管家将依据与兴业数金签署的合作协议将相应转让服务费划付至相关账户。
    </div>
    <div>二、双方确认，转让服务费包括了兴业数金及兴业数金合作机构基于服务收取的相关费用。</div>
    <div>三、转让服务费=服务费用+银行划转交易手续费（提现费用）+电子合同服务费+其他增值或综合费用，乙方同意根据本合同的约定支付转让服务费。其中，
      <div>1、服务费用及银行划转交易手续费（提现费用）根据交易金额按如下约定收取：
        <div>费用分项表</div>
        <div>单位：人民币（元）</div>
        <div>序号 项目 描述 内容 费用</div>
        <div>一 服务费用 根据成交金额按比例收取 根据成交金额按比例收取 0.6BP （6元到600元）</div>
        <div>二</div>
        <div>提现费用 根据成交金额按比例收取 10万以内（包括10万） 10元</div>
        <div>10万到50万（包括50万） 15元</div>
        <div>50万到100万（包括100万） 20元</div>
        <div>100万以上 0.002% 200元封顶</div>
      </div>


      <div>2、乙方同意，协议双方使用兴业数金提供的电子合同线上签署服务的，电子合同服务费按照 伍 元/份的标准向乙方收取，电子合同服务包括电子合同线上签署服务、区块链存证服务。</div>
      <div>3、业务合作过程中，兴业数金基于兴业银行集团优势及自身研发能力，为甲乙双方提供其他增值和综合服务的，该增值和综合服务相关费用具体收费标准和收费方式，由兴业数金和票管家另行通知，并向乙方收取。</div>
    </div>
    <div>四、乙方确认，乙方同时向代管专户划转成交金额及转让服务费。</div>

    <p>第七条 甲方的承诺与保证</p>
    <div>一、甲方是一家根据中国法律设立的企业机构，自设立至今始终有效存续，且目前经营状况正常，具备签署和履行本合同项下全部权利和义务的民事权利能力和民事行为能力。</div>
    <div>二、甲方签署并履行本合同项下的义务（包括但不限于向乙方转让票据应收款）已经得到了甲方内部充分的授权，所需的外部审批及同意（如有）亦已全部取得。</div>
    <div>
      三、签署本合同是甲方的真实意思表示，签署和履行本合同不会导致违反适用于甲方的任何法律法规、规范性文件或甲方章程或类似文件，也不会违反其与任何第三方签订的任何协议或承诺；本合同生效后，将构成对甲方有法律约束力及执行力的义务约定。
    </div>
    <div>四、甲方不存在任何可能对本合同履行产生重大不利影响的诉讼、仲裁、执行、申诉、复议、重组、破产、清算等程序及其他事件或情况。</div>
    <div>五、票据应收款项下的票据为合法、真实、有效且不存在票据诈骗等违法犯罪情形，不属于风险票据、已挂失票据或公示催告票据，票据记载事项完整，甲方为该票据的合法持有人并享有完整的票据应收款。</div>
    <div>六、票据为甲方背书受让的，甲方保证其直接前手的背书是真实有效的并对其真实性负责；票据为甲方以其他合法方式取得的，甲方保证其受让是合法有效的并对合法性负责。</div>
    <div>
      七、甲乙双方之间除根据本合同转让票据应收款产生的权利及义务外，票据及票据应收款均不存在本合同未作披露的任何债务负担或者第三方的权利主张、抵消权、质押或其他负担，甲方享有的票据应收款及票据相关权益不存在本合同未作披露的法律上的障碍，且转让后票据应收款及其项下的票据上不存在本合同未作披露的任何债务负担或第三方的权利主张或抵消权。
    </div>
    <div>八、本合同生效后，甲方无权也不得再做对票据应收款及其项下的票据进行除向乙方之外的任何第三方转让的行为或事项。</div>
    <div>九、甲方向兴业数金及票管家平台提交的票据应收款信息、票据背书、账户信息等真实合法有效，甲方自行承担因其提供信息或者材料错误造成的一切损失和责任。</div>
    <div>十、甲方已经授权票管家平台的合作机构通过电子商业汇票系统查询应收款项下票据的票面信息、背书记录、影像等相关信息，并无条件不可撤销同意委托兴业数金代管票据应收款转让项下的款项。</div>
    <div>十一、票据应收款转让过程中，甲方所有操作必须依照兴业数金及票管家平台的提示进行并保障甲方联系方式的畅通，甲方自行承担因甲方操作失误造成的一切损失。</div>
    <div>十二、甲方承诺放弃票据流转资金代管专户内的资金利息的任何权利。</div>
    <div>十三、甲方承诺在票据交易流转中严格遵守《票据法》、《支付结算办法》等有关票据交易流转的全部法律法规及有关规定。</div>

    <p>第八条 乙方的承诺与保证</p>
    <div> 一、乙方是一家根据中国法律设立的企业机构，自设立至今始终有效存续，且目前经营状况正常，具备签署和履行本合同项下全部权利和义务的民事权利能力和民事行为能力。</div>
    <div>二、乙方签署并履行本合同项下的义务已经得到了乙方内部充分的授权，所需的外部审批及同意（如有）亦已全部取得。</div>
    <div>
      三、签署本合同是乙方的真实意思表示，签署和履行本合同不会导致违反适用于乙方的任何法律法规、规范性文件或乙方章程或类似文件，也不会违反其与任何第三方签订的任何协议或承诺；本合同生效后，将构成对乙方有法律约束力及执行力的义务约定。
    </div>
    <div>四、乙方不存在任何可能对本合同履行产生重大不利影响的诉讼、仲裁、执行、申诉、复议、重组、破产、清算等程序及其他事件或情况。</div>
    <div>五、乙方在票管家平台提交的票据应收款项下票据被背书账户、乙方名称等信息和材料真实合法有效，乙方承担因乙方提供的信息或材料错误造成的一切损失和责任。</div>
    <div>六、乙方已经授权票管家平台的合作机构通过电子商业汇票系统查询应收款项下票据的票面信息、背书记录、影像等相关信息，并无条件不可撤销同意委托兴业数金代管票据应收款转让项下的款项。</div>
    <div>七、票据应收款转让过程中，乙方所有操作必须依照兴业数金及票管家的提示进行并保障乙方联系方式的畅通，乙方自行承担因甲方操作失误造成的一切损失。</div>
    <div>八、乙方承诺放弃票据流转资金代管专户内的资金利息的任何权利。</div>
    <div>九、乙方承诺在票据交易流转中严格遵守《票据法》、《支付结算办法》等有关票据交易流转的全部法律法规及有关规定。</div>

    <p>第九条 甲乙双方的特别承诺</p>
    <div>
      一、甲乙双方明确知悉票据可能存在多手背书、回头背书等背书情况，甲方背书之前的前手背书中可能存在无真实贸易背景和债务关系的背书情况，也可能存在前手已经背书至后手，但后手没有支付对价或者没有全部适当履行完成票据项下民事权利义务等方面的情况，从而影响甲方或乙方票据相关权利行使的情形，甲乙双方知悉由此产生的全部经济和法律后果并承诺，由此产生的全部经济和法律后果均由甲乙双方自行承担，与兴业数金、票管家平台及兴业数金、票管家平台的合作机构均无任何关系。
    </div>
    <div>二、甲乙双方确认，票管家平台仅为本协议双方提供信息服务和撮合交易的服务，票管家平台不向协议任何一方收取任何服务费用，亦不就协议任何一方因本票据应收款转让业务遭受的任何损失承担责任。</div>
    <div>三、如因兴业数金系统维护或升级的需要而需暂停网络服务、服务功能调整的，票管家将尽可能在网站上进行通告。票管家未进行通告，或者由于用户未能及时浏览通告信息而造成的损失，甲乙双方确认，票管家金融不承担任何责任。</div>
    <div>四、甲乙双方同意并授权委托兴业数金对票据流转全部信息进行查询见证留存，对票据流转资金进行代管，知悉并同意兴业银行对票据流转相关资金进行划付；同时，知悉理解并同意兴业数金有权利用互联网+科技手段开展委托项下各类服务。
    </div>
    <div>五、乙方确认，本合同项下转让服务费可能因国家法律法规、政策规定、兴业数金以及兴业数金合作机构等调整相关费用而产生变化，乙方签署本合同即代表乙方认可并接受该等转让服务费的变更，并自愿承担相应的支付义务。</div>

    <p>第十条 违约责任</p>
    <div>
      一、任何一方未按照本合同全面约定履行其义务，另一方均有权以书面形式要求其在收到通知起3日内改正，逾期不改正的，另一方有权停止履行部分或全部合同内容，一方违约造成另一方损失的，违约方应赔偿因其违约行为给另一方造成的全部直接损失；若因其违约行为造成合同主体以外的其他方损失，非违约方对合同主体以外其他方损失不承担任何责任。
    </div>
    <div>
      二、甲乙双方为完成票据应收款转让业务，支付了履约担保金的，如任何一方出现了违约行为，该等履约保证金根据票管家用户协议的约定应用于对守约方的赔偿；如该等履约保证金不足以支付守约方的全部直接损失的，违约方还有义务对不足部分予以赔偿。
    </div>
    <div>三、如因甲乙双方的如下情形导致兴业数金任何损失的，由违约方自行向兴业数金承担违约及赔偿责任，与票管家无涉：
      <div>1、甲乙双方提供的信息和资料的真实性、完整性、有效性、合法性存在瑕疵；</div>
      <div>2、甲乙双方与票据流转相关交易的合法性、合规性、有效性存在瑕疵；</div>
      <div>3、乙方资金来源的合法性存在瑕疵；</div>
      <div>4、乙方发出的划款指令超出资金代管专户限额；</div>
      <div>5、票据流转交易项下票据非因兴业数金原因被采取冻结等限制措施影响甲乙任何一方票据权利行使或实现的；</div>
      <div>6、其他因甲乙任何一方原因导致任何损失或责任的情形。</div>
    </div>
    <div>三、如因甲乙双方任何违约行为导致票管家平台任何损失的，违约方根据本合同及甲乙双方签署的票管家用户协议在内的全部平台交易规则就票管家平台全部损失承担赔偿责任。</div>
    <div>
      四、甲乙双方确认，如因任何一方履行本合同产生侵权责任的，侵权方是该等责任的最终承担者。如被侵权方向票管家平台或兴业数金主张任何侵权赔偿责任的，实际侵权方应承担该等侵权赔偿责任，并确保票管家平台或兴业数金不因其侵权行为遭受任何损失或承担任何责任。
    </div>
    <div>五、甲乙双方确认，任何一方违反本合同约定的，票管家平台或兴业数金均有权将其违约信息上报中国人民银行征信中心或者失信公示机构。</div>

    <p>第十一条 争议解决</p>
    <div>一、本合同适用中华人民共和国法律（不含香港、澳门及台湾地区的法律），并依据其解释。</div>
    <div>
      二、在合同履行过程中发生的争议，双方应以友好信任的精神协商解决；若争议发生三十（30）个工作日内仍未能通过协商解决时，应提交上海仲裁委员会，根据该会当时有效的仲裁规则进行仲裁，仲裁地点为上海，仲裁裁决是终局性的并对双方当事人具有约束力，仲裁费由败诉方承担。
    </div>

    <p>第十二条 合同生效</p>
    <div>双方同意本合同满足以下任何一种形式即为生效：</div>
    <div>一、本合同自甲乙双方根据电子签名相关法律法规线上签署之日生效。</div>
    <div>二、本合同自甲乙双方通过票管家平台阅读并点击同意接受（包括勾选、点击确认等任一种方式）本合同后生效。</div>

    <p>第十三条 其他事宜</p>
    <div>本合同未尽事宜，由双方协商并签订补充合同确定，补充合同与本合同具有同等法律效力。</div>
    <div>甲乙双方均已通读本合同全部条款，甲方、乙方对各自在本合同项下的权利义务已经充分熟悉并理解，甲乙双方对本合同所有内容均无异议。</div>
    <div>（以下无正文）</div>
    <div>附件：企业授权委托书</div>
    <div>致：兴业数字金融服务（上海）股份有限公司（执剑人票据见证代管系统运营方，以下简称“兴业数金”）；及上海票管家金融服务有限公司（“票管家”）</div>
    <div>抄送：兴业银行股份有限公司</div>
    <div>兴业数金为兴业银行集团旗下控股子公司，是兴业银行集团面向中小银行、非银行金融机构、中小企业提供金融信息云服务的最主要平台，同时也是集团探索开展互联网金融业务的最主要平台。</div>
    <div>票管家是一家依托互联网金融创新技术，通过票管家平台（“平台”）为广大票据供需双方提供专业、安全、便捷的信息服务和撮合交易的企业。</div>
    <div>兹授权我公司员工 先生/小姐，性别 ，身份证号码 ，任职部门 ，职务 ，手机号码 ，为平台交易员，代表我公司在平台负责账户注册及维护、发布交易需求等业务指令操作；</div>
    <div>同时授权我公司员工 先生/小姐，性别 ，身份证号码 ，任职部门 ，职务 ，手机号码 ，为资金经办人，代表我公司使用兴业数金“执剑人”见证代管系统，负责办理资金查询、划转、账户提款等资金和财务指令操作。</div>
    <div>
      我公司在票管家注册会员并在执剑人系统开立电子账户后，我公司接受兴业数金、兴业银行及任何相关方向我公司联合提供的票据见证、资金代管及资金汇划等服务，我公司无条件不可撤销地委托并授权兴业数金以其名义在兴业银行开立“票据流转资金代管专户”，专项用于我公司在执剑人票据见证代管系统中票据业务项下流转资金的代管、划转等事项。
    </div>
    <div>
      我公司同意并授权兴业数金与票管家协助办理相关手续，授权有效期与我公司在票管家平台注册的账户之有效期限相同或以另行书面变更授权为准。上述员工在票管家和兴业数金“执剑人”票据见证代管系统进行的所有操作行为均已经取得我公司书面授权，所有操作行为均视为我公司操作行为，由此产生的所有经济和法律风险均由我公司自行承担，与票管家、兴业数金及任何相关方无关。
    </div>
    <div>本授权书自我公司签章之日起生效，在票管家、兴业数金及兴业银行等未收妥我公司变更被授权员工的书面授权书之前或我公司在票管家平台注册的账户无效、被注销之前持续有效。</div>
    <div>我公司已经知悉并无条件、不可撤销地同意：</div>
    <div>
      根据我公司签署的票据应收款转让服务合同约定的操作流程规定，任一操作环节完成之时起须在30分钟内完成下一操作环节，若我公司超过30分钟未在票管家或兴业数金“执剑人”票据见证代管系统完成下一操作环节的，我公司充分授权同意并认可票管家、兴业数金及兴业银行任一方或者多方基于票据状态与资金代管实际情况进行后续操作处理，直至交易结束。由此产生的全部经济和法律结果均由我公司全部承担，与进行后续操作的票管家、兴业数金及兴业银行等任何相关第三方无关。
    </div>

    <div>特别声明：本授权书原件一份，兴业数金、票管家或兴业银行任一方持有的扫描件与原件均具有同等法律效力。</div>
    <div>特此授权。 法定代表人签字或盖章：</div>
    <div>公司名称： （公司公章）</div>
    <div>年 月 日</div>
  </div>
</ion-content>
