<ion-header mode="ios">
  <ion-navbar  mode="ios" hideBackButton="true">
    <ion-buttons>
      <button ion-button icon-only (tap)="closeme()">
        <ion-icon color="dark" name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      审核中
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background-color:#F5F5F5;">
  <ion-grid style="background-color:#FFFFFF;border-bottom: 15px solid #F5F5F5;text-align:center;">
    <ion-row style="text-align:center">
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/duihao.png" style="height: 25px;"/></div>
      </ion-col>
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/hongxian.png"/></div>
      </ion-col>
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/three.png" style="height:25px;"/></div>
      </ion-col>
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/huixian.png"/></div>
      </ion-col>
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/hui.png" style="height:25px;"/></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 text-left>
        <div style="color: #d43c33;">开户申请</div>
      </ion-col>
      <ion-col col-4>
        <div>审核</div>
      </ion-col>
      <ion-col col-4 text-right>
        <div>完成开户</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <div padding-top text-center *ngIf="bingDing" style="background-color:#FFF6E7;font-size: 1.6rem;border-bottom:1px solid #EFA02B;border-top:1px solid #EFA02B;height: 40px;">
      <div style="color:#EFA02B;margin-top: -8px;">
        填写信息与上传的图片不符，审核失败！
      </div>
    </div>
    <ion-item style="background-color: #F4F4F4;">
      <ion-label (tap)="Arrow()">
        企业法人营业执照
      </ion-label>
      <ion-note item-end>
        <button style="background-color: #F4F4F4;">
          <img src="assets/images/openaccount/jiantou.png" (tap)="Arrow()" style="height:20px;" *ngIf="enterprises" />
          <img src="assets/images/openaccount/jiantoushang.png" (tap)="Arrow()" style="height:20px;" *ngIf="!enterprises"/>
        </button>
      </ion-note>
    </ion-item>
<!--    <ion-item *ngIf="enterprise">
      <ion-label>
        公司名称
      </ion-label>
      <ion-input type="text" maxlength="100" text-right placeholder="请输入公司名称" disabled [(ngModel)]="openaccount.name"></ion-input>
    </ion-item>
    <ion-item *ngIf="enterprise">
      <ion-label>
        注册号
      </ion-label>
      <ion-input type="text" maxlength="18" text-right placeholder="请输入营业执照社会信用代码" disabled [(ngModel)]="openaccount.bizLicenceRegisteredNo"></ion-input>
    </ion-item>-->
    <ion-item *ngIf="enterprise">
      <ion-label>
        公司类型
      </ion-label>
      <ion-input type="text" maxlength="25" text-right placeholder="请输入营业执照上公司类型" [(ngModel)]="openaccount.bizLicenceType"></ion-input>
    </ion-item>
    <ion-item *ngIf="enterprise">
      <ion-label>
        住所
      </ion-label>
      <ion-input type="text" maxlength="60" text-right placeholder="请输入营业执照上的住所" [(ngModel)]="openaccount.bizLicenceAddr"></ion-input>
    </ion-item>
    <ion-item *ngIf="enterprise">
      <ion-label>
        成立日期
      </ion-label>
      <ion-input type="text" maxlength="25" text-right placeholder="请输入营业执照上的成立日期" [(ngModel)]="openaccount.bizLicenceFoundedDate"></ion-input>
    </ion-item>
    <ion-item *ngIf="enterprise">
      <ion-label>
        法人姓名
      </ion-label>
      <ion-input type="text" maxlength="10" text-right placeholder="请输入营业执照上的法人姓名" [(ngModel)]="openaccount.bizLicenceLegalName"></ion-input>
    </ion-item>
    <ion-item *ngIf="enterprise">
      <ion-label>
        身份证号
      </ion-label>
      <ion-input type="text" maxlength="18" text-right placeholder="请输入营业执照上的法人身份证" [(ngModel)]="openaccount.legalCertNo"></ion-input>
    </ion-item>

    <ion-item style="background-color: #F4F4F4;">
      <ion-label (tap)="Tobanks()">
        银行信息
      </ion-label>
      <ion-note item-end>
        <button style="background-color: #F4F4F4;">
          <img src="assets/images/openaccount/jiantou.png" (tap)="Tobanks()" style="height:20px;" *ngIf="bankinfo" />
          <img src="assets/images/openaccount/jiantoushang.png" (tap)="Tobanks()" style="height:20px;" *ngIf="!bankinfo"/>
        </button>
      </ion-note>
    </ion-item>
    <ion-item *ngIf="bankinfos">
      <ion-label style="margin-right: 0">
        开户银行支行号
      </ion-label>
      <ion-label item-end (tap)="banklistB()" style="color: #000000;margin-right:0;border:1px solid #85878a;font-size: 1.3rem;border-radius: 2px;border-right:0;padding: 3px;margin-left: 0;">{{openaccount.CnapsCode}}   {{openaccount.bankAcctBankBranch}}
      </ion-label>
      <ion-note item-end style="margin-left:0" (tap)="banklistB()">
        <button style="background-color:#FFFFFF;border:1px solid #85878a;height: 25px;border-radius:2px;">
          <img src="assets/images/openaccount/jiantou.png" style="height:15px;"/>
        </button>
      </ion-note>
    </ion-item>
    <ion-item *ngIf="bankinfos">
      <ion-label>
        账号
      </ion-label>
      <ion-input type="tel" maxlength="25" text-right placeholder="请填写对应卡号" [(ngModel)]="openaccount.bankAcctAcctNo" (keyup)='apiSev.check1($event);'></ion-input>
    </ion-item>
    <ion-item *ngIf="bankinfos">
      <ion-label>
        账户名
      </ion-label>
      <ion-input type="text" maxlength="30" text-right placeholder="请填写对应账户名" [(ngModel)]="openaccount.bankAcctAcctName"></ion-input>
    </ion-item>

    <ion-item style="background-color: #F4F4F4;">
      <ion-label (tap)="Tofinance()">
        财务
      </ion-label>
      <ion-note item-end>
        <button style="background-color: #F4F4F4;">
          <img src="assets/images/openaccount/jiantou.png" (tap)="Tofinance()" style="height:20px;" *ngIf="finance" />
          <img src="assets/images/openaccount/jiantoushang.png" (tap)="Tofinance()" style="height:20px;" *ngIf="!finance"/>
        </button>
      </ion-note>
    </ion-item>
    <ion-item *ngIf="finances">
      <ion-label>
        姓名
      </ion-label>
      <ion-input type="text" maxlength="10" text-right placeholder="请输入财务姓名" [(ngModel)]="openaccount.treasurerName"></ion-input>
    </ion-item>
    <ion-item *ngIf="finances">
      <ion-label>
        身份证号
      </ion-label>
      <ion-input type="text" maxlength="18" text-right placeholder="请输入财务财务身份证号" [(ngModel)]="openaccount.treasurerCertNo"></ion-input>
    </ion-item>

<!--    <ion-item style="background-color: #F4F4F4;">
      <ion-label (tap)="Tohandler()">
        经办人(非必填)
      </ion-label>
      <ion-note item-end>
        <button style="background-color: #F4F4F4;">
          <img src="assets/images/openaccount/jiantou.png" (tap)="Tohandler()" style="height:20px;" *ngIf="handler" />
          <img src="assets/images/openaccount/jiantoushang.png" (tap)="Tohandler()" style="height:20px;" *ngIf="!handler"/>
        </button>
      </ion-note>
    </ion-item>
    <ion-item *ngIf="handlers">
      <ion-label>
        姓名
      </ion-label>
      <ion-input type="text" maxlength="10" text-right placeholder="请输入经办人姓名" [(ngModel)]="openaccount.contactName"></ion-input>
    </ion-item>
    <ion-item *ngIf="handlers">
      <ion-label>
        身份证号
      </ion-label>
      <ion-input type="text" maxlength="18" text-right placeholder="请输入经办人身份证号" [(ngModel)]="openaccount.agentCertNo"></ion-input>
    </ion-item>-->
<!--    <ion-item *ngIf="handlers">
      <ion-label>
        手机号码
      </ion-label>
      <ion-input type="tel" maxlength="11" disabled text-right placeholder="请输入经办人的手机号码" (keyup)='apiSev.check1($event);' [(ngModel)]="openaccount.contactMobile"></ion-input>
    </ion-item>-->
    <!--    <ion-item *ngIf="handlers">
          <ion-label>
            邮箱
          </ion-label>
          <ion-input type="text" maxlength="30" text-right placeholder="请输入经办人的邮箱" [(ngModel)]="openaccount.email"></ion-input>
        </ion-item>
        <ion-item *ngIf="handlers">
          <ion-label>
            联系地址
          </ion-label>
          <ion-input type="text" maxlength="30" text-right placeholder="请输入经办人的公司联系地址" [(ngModel)]="openaccount.address"></ion-input>
        </ion-item>-->
    <ion-item style="background-color: #F4F4F4;">
      <ion-label (tap)="Tomechanism()">
        机构信用代码(非必填)
      </ion-label>
      <ion-note item-end>
        <button style="background-color: #F4F4F4;">
          <img src="assets/images/openaccount/jiantou.png" (tap)="Tomechanism()" style="height:20px;" *ngIf="mechanism" />
          <img src="assets/images/openaccount/jiantoushang.png" (tap)="Tomechanism()" style="height:20px;" *ngIf="!mechanism"/>
        </button>
      </ion-note>
    </ion-item>
    <ion-item *ngIf="mechanisms">
      <ion-label>
        代码
      </ion-label>
      <ion-input type="text" maxlength="18" text-right placeholder="请输入代码(选填)" [(ngModel)]="openaccount.orgCreditCodeCertCode"></ion-input>
    </ion-item>
    <ion-item *ngIf="mechanisms">
      <ion-label>
        名称
      </ion-label>
      <ion-input type="text" maxlength="30" text-right placeholder="请输入公司名称(选填)" [(ngModel)]="openaccount.orgCreditCodeCertName"></ion-input>
    </ion-item>
    <ion-item *ngIf="mechanisms">
      <ion-label>
        地址
      </ion-label>
      <ion-input type="text" maxlength="30" text-right placeholder="请输入公司地址(选填)" [(ngModel)]="openaccount.orgCreditCodeCertAddr"></ion-input>
    </ion-item>
    <ion-item *ngIf="mechanisms">
      <ion-label>
        有效期
      </ion-label>
      <ion-input type="text" maxlength="15" text-right placeholder="请输入有效期(选填)" [(ngModel)]="openaccount.orgCreditCodeCertExpiredDate"></ion-input>
    </ion-item>

    <ion-item style="background-color: #F4F4F4;">
      <ion-label (tap)="Tolicence()">
        开户许可证(非必填)
      </ion-label>
      <ion-note item-end>
        <button style="background-color: #F4F4F4;">
          <img src="assets/images/openaccount/jiantou.png" (tap)="Tolicence()" style="height:20px;" *ngIf="licence" />
          <img src="assets/images/openaccount/jiantoushang.png" (tap)="Tolicence()" style="height:20px;" *ngIf="!licence"/>
        </button>
      </ion-note>
    </ion-item>
    <ion-item *ngIf="licences">
      <ion-label>
        编号
      </ion-label>
      <ion-input type="text" maxlength="20" text-right placeholder="请输入开户许可证编号(选填)" [(ngModel)]="openaccount.acctPermitNo"></ion-input>
    </ion-item>
    <ion-item *ngIf="licences">
      <ion-label>
        核准号
      </ion-label>
      <ion-input type="text" maxlength="20" text-right placeholder="请输入开户许可证核准号(选填)" [(ngModel)]="openaccount.acctPermitPermitNo"></ion-input>
    </ion-item>

    <ion-item style="background-color: #F4F4F4;">
      <ion-label (tap)="Totax()">
        税务登记号(非必填)
      </ion-label>
      <ion-note item-end>
        <button style="background-color: #F4F4F4;">
          <img src="assets/images/openaccount/jiantou.png" (tap)="Totax()" style="height:20px;" *ngIf="tax" />
          <img src="assets/images/openaccount/jiantoushang.png" (tap)="Totax()" style="height:20px;" *ngIf="!tax"/>
        </button>
      </ion-note>
    </ion-item>
    <ion-item *ngIf="taxs">
      <ion-label>
        国税字号
      </ion-label>
      <ion-input type="text" maxlength="20" text-right placeholder="请输入国税字号(选填)" [(ngModel)]="openaccount.taxCertGovTaxNo"></ion-input>
    </ion-item>
    <ion-item *ngIf="taxs">
      <ion-label>
        地税字号
      </ion-label>
      <ion-input type="text" maxlength="20" text-right placeholder="请输入地税字号(选填)" [(ngModel)]="openaccount.taxCertLocalTaxNo"></ion-input>
    </ion-item>
    <ion-item *ngIf="taxs">
      <ion-label>
        纳税人名称
      </ion-label>
      <ion-input type="text" maxlength="10" text-right placeholder="请输入纳税人名称(选填)" [(ngModel)]="openaccount.taxCertName"></ion-input>
    </ion-item>

    <!--    <ion-item style="background-color: #F4F4F4;">
          <ion-label (tap)="Toorganization()">
            组织机构代码
          </ion-label>
          <ion-note item-end>
            <button style="background-color: #F4F4F4;">
              <img src="assets/images/openaccount/jiantou.png" (tap)="Toorganization()" style="height:20px;" *ngIf="organization" />
              <img src="assets/images/openaccount/jiantoushang.png" (tap)="Toorganization()" style="height:20px;" *ngIf="!organization"/>
            </button>
          </ion-note>
        </ion-item>
        <ion-item *ngIf="organizations">
          <ion-label>
            代码
          </ion-label>
          <ion-input type="text" maxlength="20" text-right placeholder="请输入代码" disabled [(ngModel)]="openaccount.bizLicenceRegisteredNo"></ion-input>
        </ion-item>
        <ion-item *ngIf="organizations">
          <ion-label>
            机构名称
          </ion-label>
          <ion-input type="text" maxlength="20" text-right placeholder="请输入机构名称" disabled [(ngModel)]="openaccount.name"></ion-input>
        </ion-item>
        <ion-item *ngIf="organizations">
          <ion-label>
            机构类型
          </ion-label>
          <ion-input type="text" maxlength="20" text-right placeholder="请输入机构类型" disabled [(ngModel)]="openaccount.bizLicenceType"></ion-input>
        </ion-item>-->
  </ion-list>

  <div padding>
    <button ion-button mode="ios" block color="primary" disabled *ngIf="bingDings" ><img src="assets/images/openaccount/shenhe.png" style="height:20px;padding-right: 5px;"/>审核中</button>
    <button ion-button mode="ios" block color="primary"  *ngIf="bingDing" (tap)="newup()">重新开户</button>
    <button ion-button mode="ios" block color="primary" (tap)="Appraisal()">修改信息</button>
    <button ion-button mode="ios" block color="primary" (tap)="Appraisalimg()">修改证件图</button>
  </div>

</ion-content>
