<ion-header mode="ios">
  <ion-navbar mode="ios">
    <ion-buttons style="margin-left:-26px;float:left">
      <button ion-button icon-only >
        <ion-icon color="dark" name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title  mode="ios" >修改证件图</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#F5F5F5;">
  <ion-list>

    <ion-item>
      <ion-label>
        修改证件图片
      </ion-label>
    </ion-item>

    <ion-row style="height: 220px;background-color:#FFFFFF;">
      <ion-col col-6 style="padding: 0" (tap)="business()">
        <div class="uploadDiv">
          <div style="font-size: 1rem;">请上传清晰的营业执照正面照片</div>
          <button padding ion-button mode="ios" class="upload" *ngIf="isUpload" (click)="uploadBtn()"></button>
          <img class="picpath" src="{{openaccount.businesss}}" *ngIf="isPicpath" (click)="uploadBtn()">
        </div>
      </ion-col>
<!--      <ion-col col-6 style="padding: 0" (tap)="attorney()">
        <div class="uploadDiv">
          <div style="font-size: 1rem;">请上传清晰的授权委托书扫描件</div>
          <button padding ion-button mode="ios" class="upload" *ngIf="isUploadB" (click)="uploadBtn()"></button>
          <img class="picpath" src="{{openaccount.attorney}}" *ngIf="isPicpathB" (click)="uploadBtn()">
        </div>
      </ion-col>-->
    </ion-row>
<!--    <ion-row style="height: 220px;background-color:#FFFFFF;" *ngIf="judgeC">
      <ion-col col-6 style="padding: 0" (tap)="offer()">
        <div class="uploadDiv">
          <div style="font-size: 1rem;">请上传清晰的报价承诺函扫描件</div>
          <button padding ion-button mode="ios" class="upload" *ngIf="isUploadC" (click)="uploadBtn()"></button>
          <img class="picpath" src="{{openaccount.offer}}" *ngIf="isPicpathC" (click)="uploadBtn()">
        </div>
      </ion-col>
    </ion-row>-->

    <div padding-left padding-bottom style="font-size: 1.5rem;background-color:#FFFFFF;">
      <p style="margin: 0;">修改法人身份证</p>
    </div>
    <ion-row style="height: 180px;background-color:#FFFFFF;">
      <ion-col col-6 style="padding: 0" (tap)="positive()">
        <div class="uploadDiv">
          <button padding ion-button mode="ios" class="upload" *ngIf="isUploadD" (click)="uploadBtn()"></button>
          <img class="picpath" src="{{openaccount.positive}}" *ngIf="isPicpathD" (click)="uploadBtn()">
          <div style="font-size: 1rem;">点击上传身份证正面</div>
        </div>
      </ion-col>
      <ion-col col-6 style="padding: 0" (tap)="sideitive()">
        <div class="uploadDiv">
          <button padding ion-button mode="ios" class="upload" *ngIf="isUploadE" (click)="uploadBtn()"></button>
          <img class="picpath" src="{{openaccount.sideitive}}" *ngIf="isPicpathE" (click)="uploadBtn()">
          <div style="font-size: 1rem;">点击上传身份证反面</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-list>
  <div padding-right padding-left>
    <button ion-button mode="ios" block color="primary" (tap)="openaccountPage()" >修改提交</button>
  </div>
</ion-content>

<!--上传图片弹出层-->
<div *ngIf="isMask" (click)="backdropclick($event)" ontouchmove="event.preventDefault();event.stopPropagation();">
  <ion-backdrop disable-activated role="presentation" tappable class="mask">
    <div class="maskCon">
      <ion-row text-center>
        <ion-col col-4 offset-2 (tap)="cameraPic()">
          <img src="assets/images/discount/camera.png" alt="相机">
          <p>相机</p>
        </ion-col>
        <ion-col col-4 (tap)="albumPic()">
          <img src="assets/images/discount/album.png" alt="相册">
          <p>相册</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button mode="ios" block color="danger" (tap)="closeMask()">取消</button>
      </ion-row>
    </div>
  </ion-backdrop>
</div>
