page-login{
  .fab{
    height: 40px!important;;
    width: 40px!important;;
    font-size: 12px!important;;
    line-height: 14px !important;
  }
	ion-content{
	//background: url(../assets/images/background.png) no-repeat 250% 110%;
    	//background-size: 90% auto;
		.logo{
			text-align: center;
		}
		.tab-all{
			margin-top: -12px;
			ion-list{
				ion-item{
					.item-inner{border-bottom:0.06rem solid #cccccc !important;}
				}
				.item{
					background:transparent;
					ion-icon{
						color: #C59B4D;
						font-size: 20px;
						width: 20px;
            height: 20px;
					}
					.user{
						background: url('../assets/images/phone.svg')no-repeat center;
						background-size: 100% 100%;
					}
					.pass{
						background: url('../assets/images/password.svg')no-repeat center;
						background-size: 100% 100%;
					}
				}
			}
		}
		.cn-all{
			.loginBtn{
				border:1px solid rgba(255,255,255,0.32);
				//box-shadow:0 3px 0 0 #d43c33, 0 2px 6px 0 rgba(0,0,0,0.50);
				border-radius:8px;
				width:85%;
				height:40px;
				margin:0 auto
			}
			.registerBtn{
				border:1px solid #d43c33;
				border-radius:8px;
				width:85%;
				height:40px;
				margin:0 auto
			}
			.passwordBtn{
				float: right;
				margin-right: calc(50% - 148px);
				margin-top: 10px;
				color: #999999;
			}
		}
	}

}
