page-jdbankbd {
  ion-content {
    //上传营业执照说明
    .hlep_txt{
      padding: 10px 15px 10px 15px;
      border-top: 1px solid #FDC473;
      border-bottom: 1px solid #FDC473;
      background-color: #FFF6E7;
      color: #FFA627;
    }
  }
}











