<ion-header mode="ios">
  <ion-navbar color="saapp" mode="ios" style="padding-top: 4px;min-height: 56px">
    <ion-buttons style="margin-left:-25px;float:left">
      <button ion-button icon-only>
        <ion-icon color="dark" name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      京东开户
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background-color:#F5F5F5;">
  <ion-grid style="background-color:#FFFFFF;border-bottom: 15px solid #F5F5F5;text-align:center;">
    <ion-row style="text-align:center">
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/one.png" style="height: 25px;"/></div>
      </ion-col>
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/huixian.png"/></div>
      </ion-col>
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/hui.png" style="height:25px;"/></div>
      </ion-col>
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/huixian.png"/></div>
      </ion-col>
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/hui.png" style="height:25px;"/></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 text-left>
        <div style="padding-left:6%;color: #d43c33;">申请绑定</div>
      </ion-col>
      <ion-col col-4>
        <div>绑定审核</div>
      </ion-col>
      <ion-col col-4 text-right>
        <div style="padding-right: 4%;">绑定完成</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item style="border-top:0">
      <ion-label>
        公司名称
      </ion-label>
      <ion-input type="text" maxlength="100" text-right disabled [(ngModel)]="jdData.blicCompanyName"></ion-input>
    </ion-item>
    <ion-item  *ngIf="jdData.blicCardType=='USC'">
      <ion-label>
        统一社会信用代码
      </ion-label>
      <ion-input type="text" maxlength="18" text-right disabled [(ngModel)]="jdData.blicUscc"></ion-input>
    </ion-item>
    <ion-item  *ngIf="jdData.blicCardType=='OCI'">
      <ion-label>
        注册号
      </ion-label>
      <ion-input type="text" maxlength="50" text-right disabled [(ngModel)]="jdData.blicCardNo"></ion-input>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button mode="ios" block color="primary" (tap)="binDing()">申请绑定账户</button>
  </div>

  <div style="background-color:#85878a;width:80%;margin-left: 10%;padding-left: 6px;border-radius: 5px;font-size: 1rem;">
    <div style="color:#FFFFFF;padding:8px;">{{jdData.blicCompanyName}}  已开户！</div>
  </div>

</ion-content>
