page-jdinfo {
  ion-content {
    .list_card{
      margin: 10px;
      background:#ffffff;
      box-shadow:3px 6px 42px 7px rgba(91,42,37,0.1);
      padding-top: 10px;
      color: #2D2D2D;
      padding-bottom: 10px;
    }
    p{
      font-size: 1.5rem;
      margin: 8px 10px 8px 10px;
    }

    //手机icon
    .icon_iphon{
      background: url(../assets/images/jd/iPhone.png) center no-repeat;
      background-size: 100% auto;
      width: 11px;
      height: 21px;
      float: left;
      margin-right: 8px;
    }
    .icon_iphonB{
      background-size: 100% auto;
      width: 14px;
      height: 21px;
      float: left;
      margin-right: 5px;
      margin-top: 1px;
    }

  }
}











