page-jdLicense3 {
  ion-content {
    .note-ios{
      color: #333333;
    }
    .note-md{
      color: #333333;
    }

    .itemcolor{
      background-color: #F4F4F4;
    }

    //item去下边框
    .border0{
      .item-inner{
        border: 0 !important;
      }
    }
  }
}











