<ion-header mode="ios">
  <ion-navbar color="saapp" mode="ios" style="padding-top: 4px;min-height: 56px">
    <ion-buttons style="margin-left:-25px;float:left">
      <button ion-button icon-only>
        <ion-icon color="dark" name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      法人身份证上传
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background-color:#F5F5F5;">
  <ion-grid style="background-color:#FFFFFF;text-align:center;">
    <ion-row style="text-align:center">
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/one.png" style="height: 25px;"/></div>
      </ion-col>
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/huixian.png"/></div>
      </ion-col>
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/hui.png" style="height:25px;"/></div>
      </ion-col>
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/huixian.png"/></div>
      </ion-col>
      <ion-col style="padding:0;margin:0;">
        <div><img src="assets/images/openaccount/hui.png" style="height:25px;"/></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 text-left>
        <div style="color: #d43c33;">申请开户</div>
      </ion-col>
      <ion-col col-4>
        <div>审核</div>
      </ion-col>
      <ion-col col-4 text-right>
        <div>完成开户</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="hlep_txt">
    请上传法人身份证的清晰图片，不可遮挡关键信息。上传图片3-4秒后，系统会自动识别您的相关信息。
  </div>
  <div style="padding-top: 10px;padding-bottom: 10px;background: #ffffff">
    <ion-icon style="width: 3px;height: 20px;background: #d43c33;float: left;margin-right: 8px;"></ion-icon>
    <span style="height: 20px;line-height: 20px">法人身份证</span>
    <button style="float: right;height: 20px;line-height: 20px;background: #ffffff;color: #91C4F3;" tappable (click)="uploadBtninfo()">
      查看示例
    </button>
  </div>

  <ion-row text-center style="background: #ffffff;padding-top: 10px;padding-bottom: 15px;">
    <ion-col col-6>
      <img *ngIf="isUpload" src="assets/images/jd/yyzz.png" tappable (click)="zfmian='A';uploadBtn();" style="height: 120px;"/>
      <img *ngIf="isPicpath" src="{{jd.picpath}}" tappable (click)="zfmian='A';uploadBtn()" style="height: 120px;"/>
      <div>身份证正面</div>
    </ion-col>
    <ion-col col-6>
      <img *ngIf="isUploadB" src="assets/images/jd/yyzz.png"  tappable (click)="zfmian='B';uploadBtn()" style="height: 120px;"/>
      <img *ngIf="isPicpathB" src="{{jd.picpathB}}"  tappable (click)="zfmian='B';uploadBtn()" style="height: 120px;"/>
      <div>身份证反面</div>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="jd.picpath!=null&&jd.picpath!=''&&jd.picpath!='undifined'&&jd.picpathB!=null&&jd.picpathB!=''&&jd.picpathB!='undifined'" style="background: #ffffff">
    <ion-item style="border-top: 0;">
      <ion-label>
        法人代表姓名
      </ion-label>
      <ion-input type="text" maxlength="16" text-right placeholder="请输入法人代表姓名" [(ngModel)]="lepName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        法人代表身份证号
      </ion-label>
      <ion-input type="text" maxlength="18" text-right placeholder="请输入法人代表身份证号" [(ngModel)]="lepCardNo"></ion-input>
    </ion-item>

    <ion-item class="border0">
      <ion-label>
        有效期至
      </ion-label>
      <ion-note style="color: #333;margin-right: 13px" item-end>
        <ion-icon style="float: left;margin-top: 2px;margin-right: 6px;">
          <img src="assets/images/jd/weixuanz.png" *ngIf="!cqterm" (tap)="cqterm=!cqterm;gdterm=false" style="height: 16px" />
          <img src="assets/images/jd/xuanz.png" *ngIf="cqterm" (tap)="cqterm=!cqterm;gdterm=false" style="height: 16px" />
        </ion-icon>
        长期</ion-note>
      <ion-note style="color: #333;" item-end>
        <ion-note style="color: #333;margin: 0;" item-end>
          <ion-icon style="float: left;margin-top: 2px;margin-right: 6px;">
            <img src="assets/images/jd/weixuanz.png" *ngIf="!gdterm" (tap)="gdterm=!gdterm;cqterm=false;" style="height: 16px"/>
            <img src="assets/images/jd/xuanz.png" *ngIf="gdterm" (tap)="gdterm=!gdterm;cqterm=false;" style="height: 16px"/>
          </ion-icon>
          固定期限</ion-note>
      </ion-note>
    </ion-item>
    <ion-item *ngIf="gdterm">
      <ion-label></ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" placeholder="请输入身份证上的截止日期" [min]="blicTrcValidityEndmin" [max]="blicTrcValidityEndmax" [(ngModel)]="lepValidityEnd" doneText="确定"
                    cancelText="取消"></ion-datetime>
    </ion-item>

  </ion-list>

  <div *ngIf="jd.picpath!=null&&jd.picpath!=''&&jd.picpath!='undifined'&&jd.picpathB!=null&&jd.picpathB!=''&&jd.picpathB!='undifined'" padding>
    <button ion-button mode="ios" block color="primary" (tap)="jdlicense2()">下一步</button>
  </div>
</ion-content>


<!--上传图片弹出层-->
<div *ngIf="isMask" (click)="backdropclick($event)" ontouchmove="event.preventDefault();event.stopPropagation();">
  <ion-backdrop disable-activated role="presentation" tappable class="mask">
    <div class="maskCon" *ngIf="CameraRoll">
      <ion-row text-center>
        <ion-col col-4 offset-2 (click)="cameraPic()">
          <img src="assets/images/discount/camera.png" alt="相机">
          <p>相机</p>
        </ion-col>
        <ion-col col-4 (click)="albumPic()">
          <img src="assets/images/discount/album.png" alt="相册">
          <p>相册</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button mode="ios" block color="danger" data-tap-disabled="true" (click)="closeMask()">取消</button>
      </ion-row>
    </div>


    <!--确认-->
    <div class="maskConB" *ngIf="Distinguish">
      <div class="offer">
        <button mode="ios" class="close" data-tap-disabled="true" (click)="Distinguish =false;isMask = false;"></button>
        <p text-center class="gridTitle">
          示例
        </p>
        <ion-list no-lines>
          <div style="padding-left: 10px">正确示例:</div>
          <img src="assets/images/jd/sf1@3x.png" style="padding: 5px 10px 5px 10px;" />

          <div style="padding-left: 10px">错误示例:</div>
          <img src="assets/images/jd/sf2(1)@3x.png" style="padding: 5px 10px 5px 10px;" />

        </ion-list>
        <div padding>
          <button ion-button mode="ios" block color="primary" (tap)="closeMask()">知道了</button>
        </div>
      </div>
    </div>
  </ion-backdrop>
</div>
