/*价格-月利率、年利率、每十万贴息*/
.toolCon .toolForm ul li .calculatorPrice{
    position: absolute;
    top: 0;
    left: 100px;
    width:280px;
}
.toolCon .toolForm ul li .calculatorPrice input[type=number]{
    width: 90px;
    float: left;
    position: relative;
    left: 0;
    top: 0;
}
.toolCon .toolForm ul li .calculatorPrice span{
    float: left;
    margin: 0 10px;
}

/*底部按钮*/
.toolWrap .toolFooter a{
    margin: 15px 94px;
}