page-shareFriend{
  ion-content{
    .share{
      text-align: center;
      width: 48%;
      height: auto;
      float: left;
      margin-left: 5px;
      img{
        width: 55px;
        height: 55px;
        margin: 0 auto;
      }
      span{
        padding-top: 10px;
        margin-bottom: 20px;
      }
    }
  }
}
