#include("./common/header.html", {title:"新手指导"})
#include("./common/right.html")
<div class="clearfix mt-20">
	<div class="guideDiv pt30 pb30">
		<img src="${imgPath}/bbs/bbs/guide1.png" class="img-responsive center-block container">
	</div>
	<div class="guideDiv pt30 pb30">
		<img src="${imgPath}/bbs/bbs/guide2.png" class="img-responsive center-block container">
	</div>
	<div class="guideDiv pt30 pb30">
		<img src="${imgPath}/bbs/bbs/guide3.png" class="img-responsive center-block container">
	</div>
	<div class="guideDiv pt30 pb30">
		<img src="${imgPath}/bbs/bbs/guide4.png" class="img-responsive center-block container">
	</div>
</div>
#include("./common/footer.html") 
</body>
</html>