<ion-header mode="ios">
  <ion-navbar mode="ios">
    <ion-buttons style="margin-left:-26px;float:left">
      <button ion-button icon-only >
        <ion-icon color="dark" name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title  mode="ios" >票据编辑</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
      <!-- 已贴现 -->
      <ion-list class="discount" mode="ios">
        <ion-item>
          <ion-label><span class="spot">*</span>票据属性</ion-label>
          <button ion-button outline item-end color="danger" [ngClass]=" {'activedBtn': result.pjtype==0}" (click)="attribute(result.pjtype=0)">纸票</button>
          <button ion-button outline item-end color="danger" [ngClass]=" {'activedBtn': result.pjtype==1}" (click)="attribute(result.pjtype=1)">电票</button>
        </ion-item>
<!--        <ion-item *ngIf="result.qixianShow">
          <ion-label>承兑期限</ion-label>
          <ion-select [(ngModel)]="result.limit" interface="popover">
            <ion-option value="0">半年期</ion-option>
            <ion-option value="1">一年期</ion-option>
          </ion-select>
        </ion-item>-->
        <ion-item *ngIf="result.qixianShow">
          <ion-label>承兑期限</ion-label>
          <button ion-button outline item-end color="danger" [ngClass]=" {'activedBtn': result.limit==1}" (click)="attribute(result.limit=1)">一年期</button>
          <button ion-button outline item-end color="danger" [ngClass]=" {'activedBtn': result.limit==0}" (click)="attribute(result.limit=0)">半年期</button>
        </ion-item>
        <ion-item>
          <ion-label><span class="spot">*</span>承兑行类型</ion-label>
          <ion-select [(ngModel)]="result.chengduihang" interface="popover">
            <ion-option value="1">国股</ion-option>
            <ion-option value="8">大商</ion-option>
            <ion-option value="2">小商</ion-option>
            <ion-option value="3">外资</ion-option>
            <ion-option value="4">农商</ion-option>
            <ion-option value="5">农合</ion-option>
            <ion-option value="6">农信</ion-option>
            <ion-option value="7">村镇</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label fixed><span class="spot">*</span>票据金额</ion-label>
          <ion-input type="text" maxlength="10" (keyup)="apiSev.check1($event)" [(ngModel)]="result.allprice" (keyup)="onKeyup()" text-right placeholder="请输入金额"></ion-input>
          <ion-note item-end>万元</ion-note>
        </ion-item>
        <ion-item *ngIf="result.undiscount">
          <ion-label fixed>月利率<span>(选填)</span></ion-label>
          <ion-input type="number" value="" (keyup)="onKeyup()"  [(ngModel)]="result.yuelilv" text-right placeholder="请输入月利率" maxlength="7"></ion-input>
          <ion-note item-end>‰</ion-note>
        </ion-item>
        <ion-item *ngIf="result.undiscount">
          <ion-label fixed>年利率</ion-label>
          <ion-input type="number" value="" (ionBlur)="nianlilv()" [(ngModel)]="result.nianlilv" text-right placeholder="请输入年利率" maxlength="7"></ion-input>
          <ion-note item-end>％</ion-note>
        </ion-item>
        <ion-item *ngIf="result.undiscount">
          <ion-label fixed><span class="spot">*</span>贴现利息</ion-label>
          <ion-input type="text" maxlength="7" (keyup)="apiSev.check1($event)" value="" (ionBlur)="tiexianlixi()" [(ngModel)]="result.tiexianlixi" text-right placeholder="请输入贴现利息" maxlength="7"></ion-input>
          <ion-note item-end>元</ion-note>
        </ion-item>
        <ion-item *ngIf="result.undiscount">
          <ion-label fixed>贴现金额</ion-label>
          <ion-input type="number" value="" [(ngModel)]="result.tiexianjine" text-right maxlength="12"></ion-input>
          <ion-note item-end>万元</ion-note>
        </ion-item>
        <ion-item class="black">
          <ion-label><span class="spot">*</span>下单日期</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="result.begintime" doneText="确定" cancelText="取消"></ion-datetime>
          <ion-note item-end class="calendarIcon"></ion-note>
        </ion-item>
        <ion-item class="itme-noborder black">
          <ion-label>到期日期</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="result.endtime" doneText="确定" cancelText="取消"></ion-datetime>
          <ion-note item-end class="calendarIcon"></ion-note>
        </ion-item>
        <ion-item margin-top mode="md">
          <ion-label>设置交易提醒</ion-label>
          <ion-checkbox color="primary" (ionChange)="checkInfo()" [checked]="result.infomemo" mode="md"></ion-checkbox>
        </ion-item>
        <ion-item class="itme-noborder">
          <ion-label>交易日期</ion-label>
          <ion-datetime text-left displayFormat="YYYY-MM-DD" [(ngModel)]="result.remindtime" disabled="{{result.endChok}}" doneText="确定" cancelText="取消"></ion-datetime>
          <ion-note item-end class="calendarIcon"></ion-note>
        </ion-item>
        <ion-item class="itme-noborder textarea" *ngIf="result.isShow2">
          <ion-textarea name="description" id="" rows="6" [(ngModel)]="result.accountdesc" placeholder="请填写一个备注，标明设置的票据提醒！"></ion-textarea>
        </ion-item>
        <div padding>
          <button ion-button mode="ios" block color="primary" (click)="baocun()">保存</button>
          <button ion-button mode="ios" block color="primary" (click)="shanchu()">删除</button>
        </div>
      </ion-list>
</ion-content>
