@charset"utf-8";
/*头部*/
.heard , .heard a{
    color: #b0b0b0;
}
.Hright{
    width: 1px;
    height: 18px;
    margin-top: 8px;
    background: url("https://img.utiexian.com/website/header/right.png") no-repeat center;
}
ul.Htab li a:hover{
    color: #d43c33;
}


/*下拉*/
.open{
    background: url("https://img.utiexian.com/website/header/open.png") center no-repeat;
    background-size: 100% 100%;
}
/*报价收票*/
li#colorOffer:hover{color: #d43c33;}
ul#offerList li a:hover{
    color: #ffffff;
    background: #d43c33;
}
/*工具*/
li#colorTool:hover{color: #d43c33;}
ul#toolList li a:hover{
    color: #ffffff;
    background: #d43c33;
}