<ion-header mode="ios">
    <ion-navbar mode="ios" style="border-bottom:0.65px solid #ccc">
        <ion-buttons  style="margin-left:-26px;float:left">
	    <button ion-button icon-only (tap)="close($event)">
            <ion-icon  color="dark"  name="ios-arrow-back"></ion-icon>
        </button>
	</ion-buttons>
	<ion-title  mode="ios" >报价详情</ion-title>
    </ion-navbar>

</ion-header>

<ion-content style="background-color:#F5F5F5;">

  <ion-card  mode="ios"  (tap)=bigpic()>
    <div [ngClass]="{'hutiupiao': item.back_endorse=='T'}">
          <ion-row  *ngIf="item.type1=='1'"  style="position:relative;">
	   <div  style="margin-left:13px;margin-top:11px;margin-bottom:11px;" >
	   <span ><img style="margin-top:2px;float:left;width:11px;height:15px;margin-right:8px;" src="assets/images/order/dingwei.png"> </span>
	   <span >所在城市</span> <span style="color:#d43c33">{{item.place}}</span>
	   </div>
	   <img *ngIf=false src="assets/images/order/zhiding.png" style="position:absolute;top:0;right:0;width:35px;height:35px">
	   </ion-row>
  	   <ion-row  *ngIf="item.type1=='1'" > <div  style="margin-left:13px;width:93%;height:2px;border-bottom:1px solid #e2e2e2">&nbsp;</div>
	   </ion-row>
	  <ion-row style="position:relative;padding-top:3px !important">
		  <ion-col col-auto style="padding-left:8px !important;">
			<img style="width:35px;height:35px" src="assets/images/order/{{apiSev.pjtypeimg(item.type1,item.order_type)}}.png">
		  </ion-col>
		  <ion-col col-6  style="padding-top:6px !important;">
        <h2 *ngIf="item.type1=='1'" style="font-size:15px;margin-top: -5px;">订单号<span>{{item.ordernumber}}</span></h2>
        <h2 *ngIf="item.type1=='2'" style="font-size:15px;margin-top: -5px;">票号<span>{{apiSev.check3(item.draft_no)}}</span></h2>
			<h3 style="font-size:12px;color:#888;">到期日期<span>{{endtime}}</span></h3>
		  </ion-col>
		  <ion-col col-4 ion-end  style="padding-right:18px !important;padding-top:11px !important;" text-right>
		  <span style="display:none" id="hdid"></span>
			<span *ngIf="item.difDate!=''" style="font-size:14px;color:#888;">剩余 </span><span style="font-size:16px;color:#e84c3d;" id="did">{{item.difDate}}</span>
		  </ion-col>
	  <img  *ngIf=false  src="assets/images/order/zhiding.png" style="position:absolute;top:0;right:0;width:35px;height:35px">

	  </ion-row>
	   <ion-row >
	   	  <ion-col col-4 style="padding-left:13px !important;padding-top:3px !important;padding-bottom:3px !important;">
			<h3>金额{{item.allmoney}}万</h3>
		  </ion-col>

		  <ion-col col-8 text-right ion-end  style="padding-left:3px !important;padding-top:3px !important;padding-bottom:3px !important;">

			<span style="float:left"><h3>{{apiSev.pjtypeP(item.order_type,item.type1,item.type2,item.accept_time)}}</h3></span>
			<span  *ngIf="item.endorse>-1" style="float:left;margin-left:15px;"><h3>背书{{item.endorse}}手</h3></span>
			<span *ngIf=apiSev.qiehuan(item.flaw_ticket)  style="float:right;margin-right:10px"><h3>&nbsp;瑕疵票</h3></span>
			<span *ngIf=apiSev.qiehuan(item.flaw_ticket)  style="float:right;"><img  src="assets/images/order/xiacipiao.png" style="margin-top:2px;width:15px;height:15px"></span>

		  </ion-col>
       </ion-row>
	   <ion-row>
		  <ion-col col-12 style="padding-left:13px !important;padding-top:3px !important;padding-bottom:6px !important;">
        <h3 *ngIf="item.order_type=='DISCOUNTRECORDSP'">承兑方:{{item.bank}}</h3>
        <h3 *ngIf="item.order_type=='DISCOUNTRECORD'&&item.type1=='2'">承兑行:{{item.bank}}</h3>
		  </ion-col>
       </ion-row>
	   <ion-row >
		  <ion-col col-6 style="padding-left:13px !important;padding-top:3px !important;padding-bottom:6px !important;">
			<span style="float:left"><img src="assets/images/order/riqi.png" style="margin-top:2px;width:15px;height:15px"></span>
			<h3 style="color:#888;">&nbsp;计息天数{{item.jxts}}天</h3>
		  </ion-col>
		  <ion-col col-6 style="padding-left:8px !important;padding-top:3px !important;padding-bottom:6px !important;">
			<span *ngIf=apiSev.shangmen(item.need_todoor,item.type1)   style="float:left"><img src="assets/images/order/shangmen.png" style="margin-top:2px;width:15px;height:15px"></span>
			<h3 *ngIf=apiSev.shangmen(item.need_todoor,item.type1)  style="color:#888;">&nbsp;不需要上门</h3>
		  </ion-col>
       </ion-row>

    </div>
  </ion-card>

<div style="width:100%;text-align:center;">
  <div *ngIf="Lists1.length>0&&item.orderflag!=0" style="margin:0 auto;font-size:12px;color:#e84c3d">请从如下报价的资方中，点击选择您想要交易的资方</div>
  <div *ngIf="Lists1.length>0&&item.orderflag==0" style="margin:0 auto;font-size:12px;color:#e84c3d">订单已经被取消</div>
  <div *ngIf="Lists1.length==0&&item.difDate!=''"  style="margin:0 auto;font-size:12px;color:#e84c3d">请等待资方报价</div>
</div>


  <ion-card  mode="ios"  *ngFor="let item1 of Lists1"  tappable (click)="Selected(item1)"   id="{{item1.memberId}}"   >
	  <ion-row >
		  <ion-col col-4 style="text-align:center;">
			<div style="font-size: 1.5rem !important;border-right:1px solid #ccc;">票款金额</div>
      <div style="color:#e84c3d;"  >{{item1.txje*1}}万元</div>
		  </ion-col>
	 	  <ion-col col-4 style="text-align:center;">
        <div style="font-size: 1.5rem !important;">每十万贴息</div>
        <div style="color:#e84c3d;"  >{{apiSev.toFix(item1.price2,2)}}元</div>
			<!--<button *ngIf="item1.superiority!=''" ion-button mode="ios" style="height:20px;background-color:#2cafec;font-size:12px !important;"  >{{item1.superiority}}</button>-->
		  </ion-col>
      <ion-col col-4 style="text-align:center;">
        <div style="font-size: 1.5rem !important;">年利率</div>
        <div style="color:#e84c3d;"  >{{item1.price0}}%</div>
      </ion-col>

	  </ion-row>
	  <ion-row >
	  <div  style="margin-left:13px;width:94%;height:2px;border-bottom:1px solid #e2e2e2">&nbsp;</div>
	  </ion-row>
	   <ion-row style="color:#888 !important">
		  <ion-col col-7 style="padding-left:33px !important;padding-top:8px !important;padding-bottom:1px !important;">
			<h3 *ngIf="item1.singleRate>0">订单成交率:{{apiSev.toFix(item1.singleRate*100,2)}}%</h3>
			<h3 *ngIf="item1.singleRate==0">订单成交率:--</h3>
		  </ion-col>
	 	  <ion-col col-5 text-right style="padding-right:36px !important;padding-top:8px !important;padding-bottom:1px !important;">
			<h3>价格真实:<span style="font-size:14px;color:#e84c3d;"  >{{apiSev.toFix(item1.price,1)}}</span></h3>
		  </ion-col>
       </ion-row >
	   <ion-row style="color:#888 !important" >
		  <ion-col col-7 style="padding-left:33px !important;padding-top:1px !important;padding-bottom:1px !important;">
			<h3>打款速度:{{apiSev.check7(item1.advanceTime)}}</h3>
		  </ion-col>
	 	  <ion-col col-5 text-right style="padding-right:36px !important;padding-top:1px !important;padding-bottom:1px !important;">
			<h3>服务态度:<span style="font-size:14px;color:#e84c3d;"  >{{apiSev.toFix(item1.service,1)}}</span></h3>
		  </ion-col>
       </ion-row>
	   <ion-row style="color:#888 !important">
		  <ion-col col-7 style="padding-left:33px !important;padding-top:1px !important;padding-bottom:1px !important;">
			<h3>历史报价持续性:{{apiSev.toFix(item1.priceDurative*100,2)}}%</h3>
		  </ion-col>
	 	  <ion-col col-5 text-right style="padding-right:36px !important;padding-top:1px !important;padding-bottom:1px !important;">
			<h3>确认效率:<span style="font-size:14px;color:#e84c3d;"  >{{apiSev.toFix(item1.speed,1)}}</span></h3>
		  </ion-col>
       </ion-row>
 	   <ion-row  *ngIf="item.type1=='1'"  style="color:#888 !important">
		  <ion-col col-7 style="padding-left:32px !important;padding-top:1px !important;">
			<h3>上门费:{{item1.todoor_price}}元</h3>
		  </ion-col>

       </ion-row>

 	   <ion-row  style="position:relative;padding-top:3px !important">
       <ion-col col-6>
         <img *ngIf="item1.dist_bind_id!=null&&item1.dist_bind_id!=''&&item1.dist_bind_id!='undefined'" style="height: 22px;width: auto;margin-top: 5px;margin-left: 27px;" src="assets/images/order/jd.png" />
         <img *ngIf="item1.dist_v_acct_acct_no!=null&&item1.dist_v_acct_acct_no!=''&&item1.dist_v_acct_acct_no!='undefined'" style="height: 22px;width: auto;margin-top: 5px;margin-left: 27px;" src="assets/images/order/xy.png" />
       </ion-col>
       <ion-col col-6 text-right>
         <button ion-button style="height:22px;font-size:14px  !important;" outline>选择该报价</button>
       </ion-col>
		  <img id="h{{item1.memberId}}" src="assets/images/order/weixuanzhong.png" style="position:absolute;bottom:0;right:0;width:15px;height:15px">
       </ion-row>
  </ion-card>




</ion-content>

<ion-footer  *ngIf="!maskDiv" >
   <button ion-button mode="ios"  (click)="showCancel($event)" *ngIf="item.orderflag!=0"  style="border-radius:0px;margin:0px;padding:0px;height:40px;width:100%;"  >取消订单</button>
   <!--<button ion-button mode="ios"  (tap)="showRe($event)" *ngIf="item.difDate=='无'||item.orderflag==0"  style="border-radius:0px;margin:0px;padding:0px;height:40px;width:100%;"  >重新推送</button>-->
</ion-footer>



 <div *ngIf="maskDiv" (click)="backdropclick($event)" ontouchmove="event.preventDefault();event.stopPropagation();">
  <ion-backdrop disable-activated role="presentation" tappable class="mask">

    <div class="pop" >

	<img src="assets/images/order/t.png"  (tap)="closeMask()" />

	<div  *ngIf="isCancel"  class="content">

      <h5 margin>
         请选择取消理由
      </h5>


			<ion-select class="h6" (ionChange)="Chage()" [(ngModel)]="info" interface="popover">
			  <ion-option value="0">票据信息输入有误</ion-option>
			  <ion-option value="3">已经提前出票</ion-option>
			  <ion-option value="2">价格不合适</ion-option>
			  <ion-option value="4">其它</ion-option>
			</ion-select>

	   		<ion-textarea text-wrap  *ngIf="isMemo" type="text" class="h7" maxlength="200" [(ngModel)]="memo" placeholder="请输入您取消订单的原因">
			</ion-textarea>

        <button ion-button block round tappable (click)= "CancelMask()">确定取消订单</button>


	</div>


	<div  *ngIf="isConfirm"  class="content">

      <div text-left text-wrap style="position: absolute;top: 15%;left: 20%;font-size: 1.6rem;width: 75%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
         {{item2.company}}
      </div>


      <span class="span1">
         共扣息金额:<span style="color:#d43c33">{{item2.txlx}}</span>元
	  </span>
	  <span class="span2">
		 是否选择该机构
      </span>

	    <button class="btn1" ion-button block outline color="dark" tappable (click)="closeMask()">否</button>
        <button class="btn2"  ion-button block  tappable (click)="okMask()">是</button>


	</div>


    </div>
  </ion-backdrop>
</div>

















