page-discountYPOcr {
    //通知滚动
    ion-content{
      background-color: #f5f5f5 !important;

      .updats {
        position: fixed;
        left: 5%;
        top: 30%;
        opacity: 0.95;
        z-index: 998;
        border-radius: 8px;
        width: 90%;
        background: url(../assets/images/discount/Ocr.gif) center no-repeat;
        .des {
          overflow-y: scroll;
          width: 100%;
          height: 213px;
          font-size: 15px;
          padding-top: 20px;
          color: #222;
          text-align: center;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      .marqueeDiv{
        height: 40px;
        background: white;
        padding: 10px 10px;
        color: #d43c33;
        margin-bottom: 10px;
        .noticeIcon{
          width: 20px;
          height: 18px;
          position: absolute;
          left: 10px;
          top: 10px;
          z-index: 2;
          padding-right: 10px;
          background-size: 20px 18px;
          background: #ffffff url("../assets/images/discount/noticeIcon.png") center no-repeat;
        }
      }

      .uploadDiv{
        padding: 5px 16px;
        background: white;
        text-align: center;
        .upload{//上传按钮
          height: 200px;
          max-width: 90%;
          min-width: 80%;
          background: url("../assets/images/discount/uploaddiv.png") center no-repeat;
          background-size: 100%;
        }
        img.picpath{//图片展示
          text-align: center;
          width: auto;
          height: 200px;
          margin: 0 auto;
        }
      }

      .ocrDiv{
        background: white;
        padding-left: 10px;
        padding-right: 10px;
        .txtDiv{
          text-indent: 1.3em;
          padding-top: 10px;
          letter-spacing:1px;
          span{
            color: #ff9605;
          }
        }
        .photo {
          height: 210px;
          .photoIcon {
            height: 180px;
            background: url("../assets/images/discount/uploaddiv.png") center no-repeat;
            background-size: 80%;
            margin-top: 20px;
          }
        }
      }
    }

  .maskCon{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    color: #2d2d2d;
    background: rgba(255,255,255,1) !important;
    opacity: 1.0 !important;
    ion-row:first-child{
      padding: 16px 0 5px;
      border-bottom: 1px solid #d9d9d9;
      img{
        width: 70px;
        height: 70px;
      }
      p{
        color: #a3a3a3;
        font-size: 1.4rem;
        margin: 5px 0;
      }
    }
    ion-row:last-child{
      button{
        background: white;
        color: #2d2d2d;
        font-size: 1.7rem;
      }
    }
  }

  .maskConB{
    position:fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: scroll;

    div.costItem .close ,.offer .close{
      position: absolute;
      top: -50px;
      right: -10px;
      width: 50px;
      height: 50px;
      background: url("../../assets/images/account/close.png") center no-repeat;
      background-size: 100%;
    }
    .gridTitle{
      font-size: 1.5rem;
      color: #a3a3a3;
    }

    p.maskBtn{
      margin: 20px 0;
      input{
        color: #fff;
        padding: 5px 15px;
        border: 1px $Red solid;
        border-radius: 5px;
        background: $Red;
      }
      input.frame{
        color: $Red;
        padding: 5px 15px;
        border: 1px $Red solid;
        border-radius: 5px;
        background: #fff;
      }
    }
    .offer{
      position: absolute;
      top: 160px;
      left: 4%;
      width: 92%;
      height: auto;
      background: #ffffff;
      padding: 0 5px !important;
      border-radius: 10px;
    }
  }
}










